<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="headerFormSubmit()">
      <!-- Default input name -->
      <input type="hidden" [(ngModel)]="headerid" name="headerid">
        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
          <select class="browser-default form-control" id="defaultFormCardDesiEx" [(ngModel)]="assessmenttypeid" name="assessmenttypeid">
            <option value="" disabled>--Select Assessment--</option>
            <option *ngFor="let a of assessmentTypeList" [value]="a._id">{{ a.name }}</option>
          </select>
        </div>
      </div>
      <div class="row">
      <div class="form-group col-md-6 col-sm-12">
         <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="headername" name="headername" placeholder="Header Name">
      </div>
      <div class="form-group col-md-6 col-sm-12">
          <input type="text" id="defaultFormCardDisEx" class="form-control" [(ngModel)]="description" name="description" placeholder="Header Description">
     </div>
    </div>
      <div class="col-md-12 feild-button">
        <button type="submit" class="btn btn-primary btn-submit">Add Item</button>
      </div>
    </form>
  </div>
</div>
<div class="row justify-content-md-center mb-2">
  <div class="col-md-12 mt-2">
    <!--Table-->
    <table class="table">
      <!--Table head-->
      <thead class="mdb-color darken-3">
        <tr class="text-white">
          <th class="label-no">#</th>
          <th class="label-name">Header</th>
          <th class="label-name">Description</th>
          <th class="label-action">Action</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr *ngFor="let h of headerList; let i = index">
          <th class="col-no" scope="row">{{ i + 1 }}</th>
          <td class="col-name">{{ h.headername }}</td>
          <td class="col-name">{{ h.description }}</td>
          <td class="col-no">
            <!--  <button type="button" (click)="editHeader(h)" class="btn btn-primary waves-light" mdbWavesEffect><i class="fa fa-edit" aria-hidden="true"></i></button>
                <button type="button" (click)="deleteHeader(h._id)" class="btn btn-danger waves-light" mdbWavesEffect><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              -->
            <span (click)="editHeader(h)" class="btn-edit">Edit </span> /
            <span (click)="deleteHeader(h._id)" class="btn-delete">Delete</span>
          </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>
</div>