<div class="container">
<div class="col-sm-12 sub_acc">
  <div class="col-sm-12 careers">
    <div class="row">
     <div class="col-md-6 col-sm-12"> <h3 class="careers-title">Careers</h3></div>
     <div class="col-md-6 col-sm-12">  <h6 class="careers-dicsription"> We are changing the world.<br> Are you in?</h6> </div>
    </div>
  </div>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title job-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="more-less fal fa-plus"></i>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
              </a>
              <span class="job-location">Bangalore</span>
          </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body job-description">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
          </div>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title job-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="more-less fal fa-plus"></i>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
              </a>
              <span class="job-location">Bangalore</span>
          </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body job-description">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.  shoreditch et. Nihil anim keffiye helvetica.
          </div>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title job-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <i class="more-less fal fa-plus"></i>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
              </a>
              <span class="job-location">Bangalore</span>
          </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body job-description">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
          </div>
      </div>
  </div>


   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title job-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                  <i class="more-less fal fa-plus"></i>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
              </a>
              <span class="job-location">Bangalore</span>
          </h4>
      </div>
      <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body job-description">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
          </div>
      </div>
  </div>


   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title job-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                  <i class="more-less fal fa-plus"></i>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
              </a>
              <span class="job-location">Bangalore</span>
          </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body job-description">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
          </div>
      </div>
  </div>

   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
          <h4 class="panel-title job-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                  <i class="more-less fal fa-plus"></i>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
              </a>
              <span class="job-location">Bangalore</span>
          </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="panel-body job-description">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
          </div>
      </div>
  </div>

   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSeven">
          <h4 class="panel-title job-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                  <i class="more-less fal fa-plus"></i>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
              </a>
              <span class="job-location">Bangalore</span>
          </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body job-description">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
          </div>
      </div>
  </div>

   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingEight">
          <h4 class="panel-title job-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                  <i class="more-less fal fa-plus"></i>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
              </a>
              <span class="job-location">Bangalore</span>
          </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body job-description">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
          </div>
      </div>
  </div>

   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingNine">
          <h4 class="panel-title job-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                  <i class="more-less fal fa-plus"></i>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
              </a>
              <span class="job-location">Bangalore</span>
          </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
          <div class="panel-body job-description">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
          </div>
      </div>
  </div>

   <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTen">
          <h4 class="panel-title job-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                  <i class="more-less fal fa-plus"></i>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
              </a>
              <span class="job-location">Bangalore</span>
          </h4>
        </div>
      <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
          <div class="panel-body job-description">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
          </div>
      </div>
  </div>

<div class="getin-touch">
    Get in touch regarding other positions on<br>
   <a href="#"> careers@360epes.com</a>
</div>

</div><!-- panel-group -->

  </div>
</div>

<section class="container-fluid  support_page_scontact">
    <div class="container">
      <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
      <h2 class="customer_experience_main_heading" >Something else?</h2>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <p>Didn’t find what you were looking for? Have a suggestion? Want to tell us how much you love us? Shoot us a message and we’ll get back to you shortly</p>
        <button class="contact-btn">Contact <i class="fa fa-long-arrow-right pull-right" aria-hidden="true"></i></button>
      </div>
    </div>
    </div>
  </section>
