<form (ngSubmit)="employeeForm()">
  <div class="form-group col-md-6 col-sm-12 ">
      <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Select Department</label>
      <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
      <select class="browser-default form-control" id="defaultFormCardDesiEx" [(ngModel)]="selectdepartment" name="selectdepartment">
        <option value="" disabled>--Select Category--</option>
        <!-- <option *ngFor="let s of faqCategoryList" [value]="s._id">{{ s.name }}</option> -->
      </select>
      <a href="#">Add</a>
  </div>
  <div class="form-group col-md-6 col-sm-12">
    <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Employee No.</label>
    <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="empno" name="empno">
  </div>
  <div class="form-group col-md-6 col-sm-12 ">
      <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Designation</label>
      <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="designation" name="designation">
  </div>
  <div class="form-group col-md-6 col-sm-12 ">
      <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Name</label>
      <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="name" name="name">
  </div>
  <div class="form-group col-md-6 col-sm-12 ">
      <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Email id</label>
      <input type="email" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="email" name="email">
  </div>
    
  <div class="form-group col-md-6 col-sm-12 browser-default">
      <label class="grey-text font-weight-light" for="phonenumber">Phone Number:</label>
      <div class="row">
          <div class="col-md-4 col-country-code">
              <select class=" selectpicker form-control browser-default mdb-select browser-default country-code" [(ngModel)]="countrycode" name="countrycode">
                  <!-- <option *ngFor="let job of countryList" value="{{job.dial_code}}">{{job.dial_code}}</option> -->
                  <option value="" disabled>--Select Category--</option>
              </select>
          </div>
          <div class="col-md-8">
              <input
                  type="text"
                  class="waves-light form-control browser-default"
                  [(ngModel)]="phone_number"
                  name="phone_number"
                  id="phonenumber"
                  maxlength="13"
              >
          </div>
      </div>
  </div>
  <div class="row">
      <div class="form-group col-md-12 col-sm-12">
          <label for="defaultFormCarddescEx" class="grey-text font-weight-light control-label col-md-3">Address</label>
          <textarea type="text" id="defaultFormCarddescEx"  class="md-textarea md-textarea-auto form-control" mdbInputDirective [(ngModel)]="address" rows="5" name="address"></textarea>
      </div>
  </div>
  <div  class="col-md-6 field-button">
      <button type="button" class="btn btn-success waves-light btn-submit" mdbWavesEffect>Add Item</button>
      <button type="submit" class="btn btn-warning waves-light btn-submit" mdbWavesEffect>Save</button>
  </div>
</form>
