<form (ngSubmit)="employeeForm()">
  <input type="hidden" [(ngModel)]="employeeid" name="employeeid" />
  <div class="form-group col-md-6 col-sm-12 ">
      <div class="form-check">
        <input type="radio" class="form-check-input" id="materialGroupExample1" name="type" value="MD" [(ngModel)]="type">
        <label class="form-check-label" for="materialGroupExample1">MD</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="materialGroupExample2" name="type" value="others" [(ngModel)]="type">
        <label class="form-check-label" for="materialGroupExample2">Others</label>
      </div>
  </div>
  <div class="form-group col-md-6 col-sm-12">
      <label for="defaultFormCardNameExorg" class="grey-text font-weight-light">Level</label>
      <select class="browser-default form-control col-md-6" id="defaultFormCardDesiEx" [(ngModel)]="organogramid" name="organogramid">
        <option value="" disabled>--Select Level--</option>
        <option *ngFor="let o of organogramList" [value]="o._id">{{ o.name }} - {{ o.departmentid.name }} - {{ o.subdepartmentid.name }}</option>
      </select>
    </div>
  <div class="form-group col-md-6 col-sm-12">
    <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Employee No.</label>
    <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="employeenum" name="employeenum">
  </div>
  <div class="form-group col-md-6 col-sm-12 ">
      <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Name</label>
      <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="employeename" name="employeename">
  </div>
  <div class="form-group col-md-6 col-sm-12 ">
    <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Designation</label>
    <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="designation" name="designation">
  </div>
  <div class="form-group col-md-6 col-sm-12 ">
      <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Email id</label>
      <input type="email" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="email" name="email">
  </div>

  <div class="form-group col-md-6 col-sm-12 browser-default">
      <label class="grey-text font-weight-light" for="phonenumber">Phone Number:</label>
      <div class="row">
          <div class="col-md-4 col-country-code">
              <select class=" selectpicker form-control browser-default mdb-select browser-default country-code" [(ngModel)]="countrycode" name="countrycode">
                  <option *ngFor="let job of countryList" value="{{job.dial_code}}">{{job.dial_code}}</option>
              </select>
          </div>
          <div class="col-md-8">
              <input
                  type="text"
                  class="waves-light form-control browser-default"
                  [(ngModel)]="mobile"
                  name="mobile"
                  id="phonenumber"
                  maxlength="13"
              >
          </div>
      </div>
  </div>
  <div class="row">
      <div class="form-group col-md-12 col-sm-12">
          <label for="defaultFormCarddescEx" class="grey-text font-weight-light control-label col-md-3">Address</label>
          <textarea type="text" id="defaultFormCarddescEx"  class="md-textarea md-textarea-auto form-control" mdbInputDirective [(ngModel)]="address" rows="5" name="address"></textarea>
      </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 col-sm-12 ">
      <div class="form-check">
        <input type="radio" class="form-check-input" id="materialGroupExample1admin" name="employeetype" value="admin" [(ngModel)]="employeetype">
        <label class="form-check-label" for="materialGroupExample1admin">Admin</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="materialGroupExample1commonreciption" name="employeetype" value="commonreciption" [(ngModel)]="employeetype">
        <label class="form-check-label" for="materialGroupExample1commonreciption">Common reciption</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="materialGroupExample1secretary" name="employeetype" value="secretary" [(ngModel)]="employeetype">
        <label class="form-check-label" for="materialGroupExample1secretary">Department/Secretary</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="materialGroupExample1employeetype" name="employeetype" value="hr" [(ngModel)]="employeetype">
        <label class="form-check-label" for="materialGroupExample1employeetype">HR</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="materialGroupExample1others" name="employeetype" checked value="others" [(ngModel)]="employeetype">
        <label class="form-check-label" for="materialGroupExample1others">Others</label>
      </div>
    </div>
  </div>
  <div  class="col-md-6 field-button">
      <button type="submit" class="btn btn-warning waves-light btn-submit" mdbWavesEffect>Save</button>
  </div>
</form>
