<div class="card submenu-wrapper">
    <div class="menu-tile">Assessments</div>
    <ul class="submenu-ul">
      <li class="submenu-item"><a [routerLink]="['/admin/assessment']" class="waves-effect" >Create Assessment</a></li>
      <li class="submenu-item"><a [routerLink]="['/admin/assessment/list', 'others']" class="waves-effect" >Assessment List Others</a></li>
      <li class="submenu-item"><a [routerLink]="['/admin/assessment/list', 'MD']" class="waves-effect" >Assessment List MD</a></li>
  </ul>
</div>
