<div class="row">
    <div class="col-md-5 ">
      <!-- Card -->
      <div class="card mx-xl-5">

          <!-- Card body -->
          <div class="card-body">

              <!-- Default form subscription -->
              <form (ngSubmit)="approverForm()" class="add-approver">
                  <p class="h4 text-center py-4 admin-title">Enter appraisal approver detail</p>
                  <input type="hidden" [(ngModel)]="approverid" name="approverid">
                  <!-- Default input name -->
                  <div class="form-group ">
                  <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Name</label>
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="name" name="name">
                </div>
                 
                <div class="form-group ">
                  <!-- Default input email -->
                  <label for="defaultFormCardEmailEx" class="grey-text font-weight-light">Email</label>
                  <input type="email" id="defaultFormCardEmailEx" class="form-control" [(ngModel)]="email" name="email">

                  </div>
                  <div class="form-group ">

                  <label for="defaultFormCardDesiEx" class="grey-text font-weight-light">Designation</label>
                  <select class="browser-default form-control" id="defaultFormCardDesiEx" [(ngModel)]="designation" name="designation">
                      <option value="MD">MD</option>
                      <option value="Board">Board</option>
                  </select>

                </div>

                  <div class="form-group">
                          <button class="btn btn-outline-warning px-3 btn-skip" type="button">Skip <i class="fa fa-fast-forward"></i></button>
                          <button class="btn btn-outline-purple px-3 btn-submit" type="submit">Continue <i class="fa fa-arrow-right"></i></button>
                  </div>
              </form>
              <!-- Default form subscription -->

          </div>
          <!-- Card body -->

      </div>
      <!-- Card -->
    </div>

    <div class="col-md-7 ">
    <!--Table-->
    <table class="table">

      <!--Table head-->
      <thead class="mdb-color darken-3">
          <tr class="text-white">
              <th class="label-no">#</th>
              <th class="label-name">Name</th>
              <th class="label-email">Email</th>
              <th class="label-designation">Designation</th>
              <th class="label-action">Action</th>
          </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
          <tr *ngFor="let a of approverList; let i = index">
              <th class="col-no" scope="row">{{ i + 1 }}</th>
              <td class="col-name">{{ a.name }}</td>
              <td class="col-email">{{ a.email }}</td>
              <td class="col-designation">{{ a.designation }}</td>
              <td class="col-action">
                <button type="button" (click)="editApprover(a)" class="btn btn-primary waves-light btn-edit" mdbWavesEffect>EDIT <i class="fa fa-edit" aria-hidden="true"></i></button>
                <button type="button" (click)="deleteApprover(a._id)" class="btn btn-danger waves-light btn-delete" mdbWavesEffect>DELETE <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
          </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>
</div>
