<div class="row">
        <div class=" col-sm-12">
    <!-- Card -->
    <div class="card">
    
              <!-- Card body -->
              <div class="card-body">
            <!-- Default form subscription -->
            <form (ngSubmit)="productroadmapForm()" class="productroadmapForm">
                <p class="h4 text-center py-4 admin-title">Product Roadmap</p>
                <input type="hidden" [(ngModel)]="roadmapid" name="roadmapid" />
                <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                <label for="defaultFormCardNameEx" class="grey-text font-weight-light control-label col-md-3">Name</label>
                <input type="text" id="defaultFormCardNameEx" class="form-control col-md-10" [(ngModel)]="name" name="name">
            </div>
        </div>                
        <div class="row">
                <div class="form-group col-md-12 col-sm-12">
                <label for="defaultFormCarddesc" class="grey-text font-weight-light control-label col-md-3">Description</label>
                <textarea [(ngModel)]="description" name="description" id="defaultFormCarddesc" class="form-control col-md-10 rounded-0" rows="5"></textarea>
            </div>
        </div>
        <div class="row">
                <div class="col-md-4">
                <div class="switch">
                    <label>
                            Status <span class="label-status">OFF</span>
                      <input [(ngModel)]="status" name="status" type="checkbox">
                      <span class="lever"></span>
                       ON
                    </label>
                </div>
            </div>
                <div  class="col-md-6 feild-button">
                 <button type="submit" class="btn btn-primary btn-submit" mdbWavesEffect>Submit</button>
            </div></div>
            </form>
            <!-- Default form subscription -->
        </div>
        <!-- Card body -->
    </div>
    <!-- Card -->
  </div>
</div>
