[type="radio"] + label, [type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 14px;
}
[type="checkbox"][class*="filled-in"]:checked + label:after {
    top: 0;
    border-color: #fdb828;
    background-color: #fdb828;
    z-index: 0;
}

.form_detail form select {
    background-color: #ffffffc7;
    width: 100%;
    margin-bottom: 15px;
    height: 37px;
    /* color: #E91E63; */
    font-weight: 600;
    padding-left: 8px;
}

.country-code {
    width: 60px !important;
    margin-top: 0px;
}

#Phone {
    padding-left: 15px;
}


.form_detail[_ngcontent-c9] form[_ngcontent-c9] select[_ngcontent-c9] {
    background-color: #ffffffc7;
    width: 100%;
    margin-bottom: 15px;
    height: 37px;
    font-weight: normal;
    padding-left: 8px;
}