<div class="col-sm-12 about-us-banner">
  <div class="col-sm-12 banner-heading">
      <h3>Lorem ipsum is a pseudo-Latin text </h3>
      <p>used in web design, typography, layout, and printing in place of English to emphasise design elements over content.and printing in place of English to emphasise design elements over  </p>
  </div>

</div>

<div class="container">
<div class="col-sm-12 data-sec">
<h3>Lorem ipsum is a pseudo-Latin text ipsum is a pseudo-Latin</h3>
<p>Ipsum has been the industry's standard dummy text ever since. </p>
</div>

<div class="col-sm-12 sub-data-sec">
<p>Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
  scrambled it to make a type specimen book.It has survived not only five centuries,but also the leap into electronic typesetting, remaining essentially unchanged.
  It was popularised in the 1960s with the release of Letraset s</p>
</div>
</div>
<div class="our-bg">
<div class="col-sm-12 our-principles">
  <h3>our-principles</h3>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12  sub-principles">
      <h4>Transparent Pricing</h4>
      <p>Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 sub-principles">
        <h4>Brilliant Customer Services Pricing</h4>
        <p>Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 sub-principles">
       <h4>Straight Talking</h4>
        <p>Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 sub-principles">
        <h4>Fast Reports</h4>
        <p>Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p>
    </div>

  </div>
</div>
</div>



<div class="col-sm-12 knowledge">
<div class="row">
<div class="col-sm-7 knowledge-dec">
  <h3>Lorem ipsum is a pseudo-Latin text</h3>
  <p>used in web design, typography, layout, and printing in place  </p>
<div class="passage">
<p>Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
scrambled it to make a type specimen book.It has survived not only five centuries,but also the leap into electronic typesetting, remaining essentially unchanged.
It was popularised in the 1960s with the release of Letraset s</p>
<p>used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text. It's a convenient tool for mock-ups. It helps to outline the visual elements of a document or presentation, eg </p>
</div>
</div>
<div class="col-sm-5 knowledge-img">
  <img src="../../../assets/img/bg-1.jpg">
</div>
</div>
</div>

<div class="col-sm-12 Customer-say">
  <h3>What Our Customer Say</h3>
  <p>Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p>
</div>
<div class="col-sm-12 video-block">
  <div class="container">
    <div class="video-block-sub">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/hVimVzgtD6w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
   </div>
  </div>
</div>
<!--
<div class="col-sm-12 Product-Tour-btn text-center">
  <button type="button" class="btn btn-primary" [routerLink]="['/product-tour']">Product Tour</button>
</div>
-->
<section id="product_tour">
    <div class="container">
        <div class="col-sm-12 orange_btn">
            <a [routerLink]="['/product-tour']">Product Tour</a>
        </div>
    </div>
    </section>
