
.card-body .h4 {
    font-size: 1rem;
    text-transform: capitalize;
}
.jd-discription{
    font-size: 14px;
}
.jd-level{
    height: 48px !important;
    box-shadow: 0px 1px 5px #959595;
}
button.btn.btn-primary.btn-submit.col-md-12 {
    background-color: #f38e00 !important;
    color: #fff !important;
    margin: 0px;
    box-shadow: 0px 1px 5px #959595;
    font-size: 15px;
    height: 49px;
    padding: 0px;
}