<div class="container asd">
    <div class="card">

        <!-- Card body -->
        <div class="card-body">

            <!-- Default form subscription -->
            <form (ngSubmit)="faqForm()" class="add-faq">
                <p class="h4 text-center py-4 admin-title">Create Training Head</p>
                <input type="hidden" [(ngModel)]="faqid" name="faqid" />
                <div class="form-group col-md-12 col-sm-12">
                    <div class="row">
                        <label for="defaultFormCardNameEx" class="grey-text font-weight-light control-label col-md-3">Training Head Name</label>
                        <input type="text" id="defaultFormCardNameEx" class="form-control col-md-10" [(ngModel)]="question" name="question">
                    </div>
                </div>
                <div class="col-sm-10 train-popup-btn text-right">
                    <button class="btn save-btn">Save</button>

                </div>

            </form>
            <!-- Default form subscription -->

        </div>
        <!-- Card body -->
    </div>
    <!-- Card -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 msg-box">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" width="90%">Training Head</th>
                            <th scope="col" width="10%">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Technical Trainings</td>
                            <td>
                                <a href="#" class="edit">Edit</a>/
                                <a href="#" class="delete">Delete</a>
                            </td>

                        </tr>
                        <tr>
                            <td scope="row">Quality Trainings</td>
                            <td>
                                <a href="#" class="edit">Edit</a>/
                                <a href="#" class="delete">Delete</a>
                            </td>

                        </tr>
                        <tr>
                            <td scope="row">Skills Trainings</td>
                            <td>
                                <a href="#" class="edit">Edit</a>/
                                <a href="#" class="delete">Delete</a>
                            </td>

                        </tr>

                        <tr>
                            <td scope="row">Managerial Skills</td>
                            <td>
                                <a href="#" class="edit">Edit</a>/
                                <a href="#" class="delete">Delete</a>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--
<button type="button" class="btn btn-primary relative waves-light" (click)="showModal()" mdbWavesEffect>Launch demo modal</button>
-->
