<div class="container asd">
    <div class="card">

        <!-- Card body -->
        <div class="card-body mb-3">

            <!-- Default form subscription -->
            <form (ngSubmit)="trainingHeadForm()" class="add-faq">
                <p class="h4 text-center py-4 admin-title">Create Training Head</p>
                <input type="hidden" [(ngModel)]="trainingheadid" name="trainingheadid" />
                <div class="form-group col-md-12 col-sm-12">
                    <div class="row">
                        <label for="defaultFormCardNameEx" class="grey-text font-weight-light control-label col-md-3">Training Head Name</label>
                        <input type="text" id="defaultFormCardNameEx" class="form-control col-md-10" [(ngModel)]="name" name="name">
                    </div>
                </div>
                <div class="col-md-6 offset-md-2 feild-button ">
                    <button class="btn btn-outline-purple px-3 btn-submit">Save</button>

                </div>

            </form>
            <!-- Default form subscription -->

        </div>
        <!-- Card body -->

    <!-- Card -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 msg-box">
                <table *ngIf="trainingHeadList" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="label-no"  scope="col" width="10%">#</th>
                            <th class="label-name" scope="col" width="70%">Training Head</th>
                            <th class="label-action" scope="col" width="20%">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of trainingHeadList;let i = index">
                            <td class="col-no" scope="row">{{i+1}}</td>
                            <td class="col-name" scope="row">{{c.name}}</td>
                            <td class="col-action">
                                <span (click)="editTraininghead(c)" class="btn-edit" mdbRippleRadius>Edit </span>/
                                <span (click)="deleteTraininghead(c._id)" class="btn-delete" mdbRippleRadius>Delete</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!--
<button type="button" class="btn btn-primary relative waves-light" (click)="showModal()" mdbWavesEffect>Launch demo modal</button>
-->