<div class="row">
        <div class="col-xl-10 col-lg-11 col-md-12 col-sm-12 product-list">
          <!-- Card -->
          <div class="card">
        <div class="card-body">
    <p class="h4 text-center py-4 admin-title">
    <a [routerLink]="['/admin/roadmap']" class="btn btn-outline-secondary btn-rounded waves-effect btn-add-new">Add New</a>
    </p>  <!--Table-->
      <table *ngIf="roadmapList" datatable class="table table-hover table-responsive-md table-fixed">
          <!--Table head-->
          <thead>
              <tr>
                  <th class="label-no">#</th>
                  <th class="label-name">Name</th>
                  <th class="label-status">Status</th>
                  <th class="label-action">Action</th> 
              </tr>
          </thead>
          <!--Table head-->
          <!--Table body-->
          <tbody>
              <tr *ngFor="let c of roadmapList; let i = index">
                  <th class="col-no" scope="row">{{i+1}}</th>
                  <td class="col-name">{{c.name}}</td>
                  <td class="col-status"><div class="form-group">
                      <input type="checkbox" class="filled-in" id="checkbox{{c._id}}" [checked]="c.status" (change)="updateStatus($event.target.checked,c)">
                      <label for="checkbox{{c._id}}"></label>
                  </div></td>
                  <td>
                      <span (click)="editProductroadmap(c)"  class=" btn-edit" mdbRippleRadius>Edit </span>/
                      <span (click)="deleteProductroadmap(c._id)" class=" btn-delete" mdbRippleRadius>Delete </span></td>
              </tr>
          </tbody>
          <!--Table body-->
      </table>
      <!--Table-->
  </div>
</div>
