<div class="row">
  <div class="col-xl-9 col-lg-9 col-md-10 col-sm-12 ">
    <!-- Card -->
    <div class="card">

        <!-- Card body -->
        <div class="card-body">

            <!-- Default form subscription -->
            <form (ngSubmit)="faqCategoryForm()" class="add-faqCategory">
                <p class="h4 text-center py-4 admin-title">FAQ Category</p>
                <input type="hidden" [(ngModel)]="faqcategoryid" name="approverid">
                <!-- Default input name -->

                
             
                <div class="form-group  col-md-12 col-sm-12">
                        <div class="row">
                <label for="defaultFormCardNameEx" class="grey-text font-weight-light control-label col-md-3 label-faq">Name</label>
                <input type="text" id="defaultFormCardNameEx" class="form-control col-md-9" [(ngModel)]="name" name="name">
                </div>
                </div>
                <div class="form-group ">
                        <button class="btn btn-outline-purple px-3 btn-submit" type="submit">Submit <i class="fa fa-arrow-right"></i></button>
                </div>
            </form>
            <!-- Default form subscription -->

        </div>
        <!-- Card body -->

  <table class="table">

    <!--Table head-->
    <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th class="label-no">#</th>
            <th class="label-name">Name</th>
            <th class="label-action">Action</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr *ngFor="let a of faqCategoryList; let i = index">
            <th class="col-no" scope="row">{{ i + 1 }}</th>
            <td class="col-name">{{ a.name }}</td>
            <td class="col-action">
              <span  (click)="editFaqCategory(a)" class="btn-edit" mdbWavesEffect>Edit </span>/
              <span  (click)="deleteFaqCategory(a._id)" class=" btn-delete" mdbWavesEffect>Delete </span>
              </td>
        </tr>
    </tbody>
    <!--Table body-->
  </table>
  <!--Table-->
</div>
</div>
