<section class="ccontainer-fuild login_main">

  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-12 login_image hidden-sm-down">
      <img src="../../../assets/img/1.jpg" class="img-responsive"/>
    </div>
  <div class="col-lg-4 col-md-6 col-sm-12 form-container">
  <!-- Login form -->
  <form class="login-form" id="login-form" >
      <h3 class="login-heading">Login</h3>
      <div class="form-group">
        <label class="login-label">Please enter your email address</label>
        <input type="text" id="defaultForm-email" class="form-control" >
      </div>

      <div class="form-group">
          <label class="login-label">Please enter your Password</label>
        <input type="password" id="defaultForm-pass" class="form-control" >
      </div>

      <div class="text-center">
        <input type="submit" class="btn btn-default btn_login" value="Login">
      </div>
    </form>
    <div class="clearfix"></div>
    <img src="../../../assets/img/epes-logo.png" class="logo_login">
    <!-- Login form -->
  </div>
</div>
</section>
