<section class="ccontainer-fuild login_main">

  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-12 login_image hidden-sm-down">
     <!-- <img src="../../../assets/img/login_image1.jpg" class="img-responsive"/>
     <img src="../../../assets/img/epes-logo-footer.png" class="logo_login">-->
    </div>
  <div class="col-lg-4 col-md-6 col-sm-12 form-container">
  <!-- Login form -->
  <a [routerLink]="['/']"><img src="../../../assets/img/epes-logo-footer.png" class="logo_login"></a>
  <form class="login-form" id="login-form" (ngSubmit)="loginForm()">
      <h3 class="login-heading">Login</h3>
      <div class="form-group">
        <label class="login-label">Enter your email address</label>
        <input
          placeholder="Email Address"
          type="text"
          id="defaultForm-email"
          [(ngModel)]="field_username"
          name="field_username"
          class="form-control waves-light"          
        >
      </div>

      <div class="form-group">
          <label class="login-label">Enter your Password</label>
        <input
          placeholder="Password"
          type="password"
          id="defaultForm-pass"
          [(ngModel)]="field_password"
          name="field_password"
          class="form-control waves-light"
        >
      </div>
      

      <div class="text-center">
        <input type="submit" class="btn btn-default btn_login" value="Login">
        <a class="sign-up-link" [routerLink]="['/registration']">Sign Up</a>
      </div>
      
    </form>
    <div class="clearfix"></div>

    <!-- Login form -->
  </div>
</div>
</section>
