<section class="ccontainer-fuild login_main">

  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-12 login_image hidden-sm-down">
     <!-- <img src="../../../assets/img/login_image1.jpg" class="img-responsive"/>
     <img src="../../../assets/img/epes-logo-footer.png" class="logo_login">-->
    </div>
  <div class="col-lg-4 col-md-6 col-sm-12 form-container">
  <!-- Login form -->
  <a [routerLink]="['/']"><img src="../../../assets/img/epes-logo-footer.png" class="logo_login"></a>
  <form class="login-form" id="login-form" (ngSubmit)="getOTP()">
      <h3 class="login-heading">Login</h3>
      <div class="form-group">
        <!-- <label class="login-label">Enter your email address</label> -->
        <input
          placeholder="Email Address"
          type="text"
          id="defaultForm-email"
          [(ngModel)]="field_username"
          name="field_username"
          class="form-control waves-light"
        >
      </div>

      <!-- <div class="form-group">
        <label class="login-label">Enter your Password</label>
        <input
          placeholder="Password"
          type="password"
          id="defaultForm-pass"
          [(ngModel)]="field_password"
          name="field_password"
          class="form-control waves-light"
        >
      </div> -->


      <div class="text-center">
        <input type="submit" class="btn btn-default btn_login" value="Get OTP">
        <!-- <a class="sign-up-link" [routerLink]="['/registration']">Sign Up</a> -->
      </div>

    </form>
    <div class="clearfix"></div>

    <!-- Login form -->
  </div>
</div>
</section>

<div *ngIf="isModalShown" [config]="{ show: true, ignoreBackdropClick: true }" (onHidden)="onHidden()" mdbModal #autoShownModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto;">
  <div class="modal-dialog modal-notify modal-sm" role="document">
      <div class="modal-content">

              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onHidden()">
                  <span aria-hidden="true" class="black-text close-btn">×</span>
              </button>

          <div class="modal-body">
            <form (ngSubmit)="loginForm()">
              <div class="">
              <label class="label-otp">Enter OTP</label>
              <input type="hidden" name="otpid" [(ngModel)]="otpid" />
              <input class="input-otp" type="text" name="otp" [(ngModel)]="otp" />
              </div>
              <a (click)="getOTP()" class="rotp">Resend OTP</a>

              <input type="submit" class="btn btn-default btn-otp-submit" value="Login">

            </form>
          </div>
      </div>
  </div>
</div>
