<form (ngSubmit)="assignjdForm()">
    <div class="form-group col-md-4 col-sm-12 ">
        <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Select Department</label>
        <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
        <select class="browser-default form-control" id="defaultFormCardDesiEx" [(ngModel)]="selectdepartment" name="selectdepartment">
          <option value="" disabled>--Select Department--</option>
        <!-- <option *ngFor="let s of faqCategoryList" [value]="s._id">{{ s.name }}</option> -->
        </select>
        <a href="#">Add</a>
    </div>
    <div class="form-group col-md-4 col-sm-12 ">
        <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Select Head</label>
        <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
        <select class="browser-default form-control" id="defaultFormCardDesiEx" [(ngModel)]="selecthead" name="selecthead">
          <option value="" disabled>--Select Head--</option>
            <!-- <option *ngFor="let s of faqCategoryList" [value]="s._id">{{ s.name }}</option> -->
        </select>
        <a href="#">Add</a>
    </div>
    <div class="form-group col-md-4 col-sm-12 ">
        <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Select Employee</label>
        <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
        <select class="browser-default form-control" id="defaultFormCardDesiEx" [(ngModel)]="selectemployee" name="selectemployee">
          <option value="" disabled>--Select Employee--</option>
            <!-- <option *ngFor="let s of faqCategoryList" [value]="s._id">{{ s.name }}</option> -->
        </select>
        <a href="#">Add</a>
    </div>
    <div class="form-group col-md-4 col-sm-12 ">
        <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Select JD</label>
        <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
        <select class="browser-default form-control" id="defaultFormCardDesiEx" [(ngModel)]="selectjd" name="selectjd">
          <option value="" disabled>--Select JD--</option>
            <!-- <option *ngFor="let s of faqCategoryList" [value]="s._id">{{ s.name }}</option> -->
        </select>
        <a href="#">Add</a>
    </div>

    <div class="form-group col-md-12 ">
        <!-- <label for="defaultFormCarddesc" class="grey-text font-weight-light">Description</label> -->
        <ckeditor [(ngModel)]="description" name="description" id="defaultFormCarddesc"></ckeditor>
    </div>
    
  <div class="form-group col-md-12 col-sm-12">
      <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Question</label>
      <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="question" name="question">
  </div>
  <div class="form-group col-md-12 col-sm-12 ">
      <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Scale</label>
      <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="scale" name="scale">
  </div>
  <div class="form-group col-md-12 col-sm-12 ">
      <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Assessment</label>
      <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
      <select class="browser-default form-control" id="defaultFormCardDesiEx" [(ngModel)]="assessment" name="assessment">
        <option value="" disabled>--Select Assessment--</option>
          <!-- <option *ngFor="let s of faqCategoryList" [value]="s._id">{{ s.name }}</option> -->
      </select>
      <a href="#">Add</a>
  </div>
  <div class="form-group col-md-12 col-sm-12 ">
      <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Header</label>
      <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
      <select class="browser-default form-control" id="defaultFormCardDesiEx" [(ngModel)]="header" name="header">
        <option value="" disabled>--Select Header--</option>
          <!-- <option *ngFor="let s of faqCategoryList" [value]="s._id">{{ s.name }}</option> -->
      </select>
      <a href="#">Add</a>
  </div>
  <div  class="col-md-6 field-button">
      <button type="submit" class="btn btn-warning waves-light btn-submit" mdbWavesEffect>Submit</button>
  </div>
</form>
