p.h4.text-center.py-4.admin-title {
    margin: 0px;
    color: #54afc6;
    font-weight: normal;
    padding-top: 15px !important;
    text-align: left !important;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px !important;
    background: #f9f6f6;
    padding-left: 15px;
    margin-left: -20px;
    margin-right: -20px;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #54afc6;
    border-radius: 0.25rem;
}
.breadcrumb a, .breadcrumb-item.active{
    font-size: 12px;
    color: #fff;
}
.btn-add-new{
    float: right;
    padding: 5px 10px;
    border-radius: 0px !important;
    color: #fff !important;
    background-color: #f38e00 !important;
    border: 1px solid #f38e00 !important;
    margin-top: -5px;
    margin-bottom: 15px;
}
.btn-outline-secondary.btn-add-new:not([disabled]):not(.disabled):active, 
.btn-outline-secondary.btn-add-new:not([disabled]):not(.disabled).active, 
.show > .btn-outline-secondary.btn-add-new.dropdown-toggle{
    color: #fff !important;
    background: #f38e00 !important;
    border: 1px solid #f38e00 !important;
}
label{
    font-size: 13px;
    color: #000 !important;
}
.col-no{
    font-size: 13px;
    color: #000;
    font-weight: 400;
    line-height: 58px;
}
.col-name{
    width: 40%;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    line-height: 58px;
}
.label-name, .label-no, .label-status, .label-action {
    font-size: 13px;
    color: #666;
    font-weight: 300;
}
.col-status .form-group{
    margin: 0px;
}
.col-status .form-group label{
    margin-top: 20px;
}
[type="checkbox"][class*="filled-in"]:not(:checked) + label:after {
    background-color: transparent;
    border-color: #5a5a5a;
    top: 0;
    z-index: 0;
    border: 1px solid #ccc;
}
[type="checkbox"][class*="filled-in"]:checked + label:before {
    top: 0;
    left: 1px;
    width: 7px;
    height: 12px;
    border-color: transparent #666 #666 transparent;
    margin-top: 3px;
}
[type="checkbox"][class*="filled-in"]:checked + label:after {
    top: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 0;
}
button.btn.btn-primary.waves-light.btn-edit {
    background-color: #5bbc6d !important;
    font-size: 13px;
    padding: 10px 20px;
    color: #fff !important;
}
button.btn.btn-danger.waves-light.btn-delete {
    background-color: #b51717 !important;
    font-size: 13px;
    padding: 10px 20px;
    color: #fff !important;
}
table.dataTable thead th{
    border-bottom: 1px solid #dbe2e4;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #666;
    font-size: 13px !important;
}
@media only screen and (max-width: 768px){
    button.btn.btn-danger.waves-light.btn-delete,    
    button.btn.btn-primary.waves-light.btn-edit{
        padding: 6px 12px;
        margin-top: 15px;

    }
}
@media only screen and (max-width: 767px){
    .btn-edit .fa , .btn-delete .fa {
        display: none
    }
    button.btn.btn-danger.waves-light.btn-delete,
     button.btn.btn-primary.waves-light.btn-edit {
        padding: 6px 12px;
        margin-top: 0px;
    }
}