h4.admin-title {
    margin-top: 20px;
    font-size: 17px;
    color: #555;
    font-weight: 400;
    margin-bottom: 15px;
}
.accordion .card:last-of-type {
    background: #ecf0f9;
    margin-bottom: 10px;
}
.notication-item, mdb-item-head{
    background: #ecf0f9;
    margin-top: 5px;
}
mdb-item-body{
    background: #ecf0f9;
}
.accordion .card .card-body {
    background: #ecf0f9;
}

p.h4.text-center.py-4.admin-title {
    color: #494949;
    font-weight: normal;
    padding-top: 15px !important;
    text-align: left !important;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 10px !important;
    background: #ffffff;
    margin-left: -20px;
    border: none;
    width: 40%;
}

.card .card-body{
    background: #f6f6f6;
    box-shadow: none;
}
.card {
    position: relative;
    padding: 25px 30px ;
}
p.h4.text-center.py-4.admin-title a {
    font-size: 12px;
    color: #54afc6;
}
input#defaultFormCardNameEx {
    padding: 0px;
    border-radius: 0px;
}
.input-group .input-group-text {
    background-color: #e0e0e0;
    background: none;
    color: #14a3c7;
    border: none;
}

label {
    font-size: 13px;
}
.field-label{
    color: #14a3c7;
    font-size: 14px;
    text-align: left !important;
}
button.btn.btn-submit.btn-save {
    background: #f38e00;
    padding: 5px 25px;
    font-size: 15px;
    margin-top: 15px;
    text-transform: capitalize;
    box-shadow: none;
}
.form-control {
    font-size: 14px;
	padding-left:7px !important;
	padding-right:7px !important;
}