p.h4.text-center.py-4.admin-title {
    color: #494949;
    font-weight: normal;
    padding-top: 15px !important;
    text-align: left !important;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 10px !important;
    background: #ffffff;
    margin-left: -20px;
    border: none;
    width: 30%;
}

.card .card-body{
    background: #f6f6f6;
    box-shadow: none;
}
.card {
    position: relative;
    padding: 25px 30px 25px 30px;
}
.company-logo {
    width: 130px;
    float: left;
    background: #ccc;
    margin-right: 15px;
}
.company-logo img{
    width: 100%;
}
input.btn.file-choose {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
}
button.btn.btn-upload {
    padding: 9px;
    background: #ec9d08;
    box-shadow: none;
    padding-left: 0px;
    cursor: pointer;
}
.label-logo{
    width: 50%;
    margin-top: 30px;
    padding-left: 10px;
    margin-bottom: 0px;
    color: #666;
    font-weight: 400;
    font-size: 12px;
}
.btn:not([disabled]):not(.disabled):active, .btn:not([disabled]):not(.disabled).active{
    box-shadow: none;
}
label.grey-text.font-weight-light {
    font-size: 13px;
    color: #212529 !important;
    font-weight: 400 !important;
}
button.btn.btn-submit.btn-save {
    background: #f38e00;
    padding: 5px 25px;
    font-size: 15px;
    margin-top: 15px;
    text-transform: capitalize;
    box-shadow: none;
}
.form-control {
    font-size: 14px;
}