<div class="container">
            <div class="card mb-4">
        
                <!-- Card body -->
                <div class="card-body mb-3">
                        <p class="h4 text-center py-4 admin-title">Budget Planning</p>
                  <div class="form-group col-md-12 col-sm-12 ">
                        <div class="row">
                              <div class="col-md-12 mb-2">
                                    Budget Planning for the Year:{{year}} Total Budget: {{amount}} USD
                              </div>
                        </div>
                        <form (ngSubmit)="budgetplanningForm()">
                              <div class="row" *ngIf="assessmenttypeList">
                                    <label for="defaultFormCardNameEx" class="col-md-3 grey-text font-weight-light">Assessment</label>
                                    <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
                                    <select class="browser-default form-control col-md-10" id="defaultFormCardDesiEx" [(ngModel)]="assessmenttypeid" name="assessmenttypeid" (change)="getHeader()">
                                          <option value="" disabled>--Select Assessment--</option>
                                          <option *ngFor="let assessment of assessmenttypeList" value="{{assessment._id}}">{{assessment.name}}</option>
                                    </select>
                              </div>
                              <div class="form-group"></div>
                              <div class="row" *ngIf="headerList">
                                    <label for="defaultFormCardNameEx" class="col-md-3 grey-text font-weight-light">Header</label>
                                    <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
                                    <select class="browser-default form-control col-md-10" id="defaultFormCardDesiEx" [(ngModel)]="headerid" name="headerid">
                                          <option value="" disabled>--Select Header--</option>
                                          <option *ngFor="let header of assessheaderList" value="{{header._id}}">{{header.headername}}</option>
                                    </select>
                              </div>
                              <div class="form-group">

                              </div>
                              <div class="row" *ngIf="trainingheadList">
                                    <label for="defaultFormCardNameEx" class="col-md-3 grey-text font-weight-light">Training Head</label>
                                    <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
                                    <select class="browser-default form-control col-md-10" id="defaultFormCardDesiEx" [(ngModel)]="trainingheadid" name="trainingheadid"
                                          (change)="getTrainingsubhead()">
                                          <option value="" disabled>--Select Training Head--</option>
                                          <option *ngFor="let s of trainingheadList" [value]="s._id">{{s.name}}</option>
                                    </select>
                              </div>
                              <div class="form-group"></div>
                              <div class="row">
                                    <label for="defaultFormCardNameEx" class="col-md-3 grey-text font-weight-light">Training Subhead</label>
                                    <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
                                    <select class="browser-default form-control col-md-10" id="defaultFormCardDesiEx" [(ngModel)]="trainingsubheadid" name="trainingsubheadid">
                                          <option value="" disabled>--Select Training Subhead--</option>
                                          <option *ngFor="let s of trainingsubheadList" [value]="s._id">{{s.name}}</option>
                                          <!-- <option *ngFor="let s of faqCategoryList" [value]="s._id">{{ s.name }}</option> -->
                                    </select>
                              </div>
                              <div class="form-group">

                              </div>
                              <div class="row">
                                    <label for="defaultFormCardNameEx" class="col-md-3 grey-text font-weight-light">Percentage</label>
                                    <!-- <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="jobtitle" name="jobtitle"> -->
                                    <select class="browser-default form-control col-md-10" id="defaultFormCardDesiEx" [(ngModel)]="percentage" name="percentage">
                                          <option value="" disabled>--Select Percentage--</option>
                                          <option value="5">5</option>
                                          <option value="10">10</option>
                                          <option value="15">15</option>
                                          <option value="20">20</option>
                                          <option value="25">25</option>
                                          <option value="30">30</option>
                                          <option value="35">35</option>
                                          <option value="40">40</option>
                                          <option value="45">45</option>
                                          <option value="50">50</option>
                                          <option value="55">55</option>
                                          <option value="60">60</option>
                                          <option value="65">65</option>
                                          <option value="70">70</option>
                                          <option value="75">75</option>
                                          <option value="80">80</option>
                                          <option value="85">85</option>
                                          <option value="90">90</option>
                                          <option value="95">95</option>
                                          <option value="100">100</option>
                                          <!-- <option *ngFor="let s of faqCategoryList" [value]="s._id">{{ s.name }}</option> -->
                                    </select>
                              </div>
              
                              <div class="col-md-6 offset-md-2 feild-button">
                                          <button class="btn btn-outline-purple px-3 btn-submit">Submit</button>
                      
                              </div>
                        </form>
                  </div>
            </div>
      </div>
</div>
                 
<div class="container mb-5">
<div class="col-sm-12 msg-box  product-list scale-list">
                        <table class="table table-striped" datatable *ngIf="budgetplanList">
                              <thead>
                                    <tr>
                                          <th class="label-no" scope="col" width="5%">#</th>
                                          <th class="label-no" scope="col" width="15%">Assessment</th>
                                          <th class="label-no" scope="col" width="10%">Header</th>
                                          <th class="label-no" scope="col" width="20%">Training Head</th>
                                          <th class="label-no" scope="col" width="20%">Training Subhead</th>
                                          <th class="label-no" scope="col" width="5%">Year</th>
                                          <th class="label-no" scope="col" width="10%">Budget</th>
                                          <th class="label-no" scope="col" width="5%">Percentage</th>
                                          <th class="label-no" scope="col" width="10%">Action</th>
                                    </tr>
                              </thead>
                              <tbody>
                                    <tr *ngFor="let c of budgetplanList;let i = index">
                                          <td class="col-no" scope="row">{{i+1}}</td>
                                          <td class="col-no">{{c.assessmenttypeid.name}}</td>
                                          <td class="col-no">{{c.headerid.headername}}</td>
                                          <td class="col-no">{{c.trainingheadid.name}}</td>
                                          <td class="col-no">{{c.trainingsubheadid.name}}</td>
                                          <td class="col-no">{{c.budgetid.year}}</td>
                                          <td class="col-no">{{amount*(c.percentage/100)}}USD</td>
                                          <td class="col-no">{{c.percentage}}%</td>
                                          <td class="col-action">
                                                <span (click)="editBudgetPlan(c)" class="btn-edit" mdbRippleRadius>Edit</span>/
                                                <span (click)="deleteBudgetPlan(c._id)" class="btn-delete" mdbRippleRadius>Delete</span>
                                          </td>
                                    </tr>
                              </tbody>
                        </table>

                  </div>

            </div>
<!--
<button type="button" class="btn btn-primary relative waves-light" (click)="showModal()" mdbWavesEffect>Launch demo modal</button>
-->