.signupbg{
    margin: 0;
    padding: 0;
    background-image: url('../../../assets//img/signup_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}
input.form-control{
    height: 35px;
    font-size: 13px;
    position: relative;
    z-index: 4;
    background: transparent;
}
select{
    display: block !important;
    height: 35px !important;
    font-size: 13px;
    position: relative;
    z-index: 4;
    background: transparent;
}
.signupcontainer{
    background: #fff;
    padding: 0px 20px;
    border-radius: 10px;
}
.reg-tom-title {
    text-align: center;
    padding: 15px 0px;
    font-size: 25px;
    color: black;
}
form#reg_form {
    max-width: 850px;
    margin: 0px auto;
}
label.reg-tom-label {
    font-size: 12px;
    color: #666;
    position: absolute;
    top: 8px;
    left: 25px;
    z-index: 2;
}
input:focus +  label.reg-tom-label, select:focus + label.reg-tom-label,
.input-clicked +  label.reg-tom-label{
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    top: -8px;
    left: 25px;
    background-color: #FFF;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 6;
}
.form-control:focus{
    box-shadow: none;
}
button.btn.btn-default.btn-pay {
    padding: 5px 35px;
    box-shadow: none;
    background: #0daa0d !important;
    border-radius: 4px;
    margin-bottom: 10px;
}
h5.section_title {
    width: 100%;
    clear: both;
    padding-left: 15px;
    font-size: 15px;
    color: #12509c;
}
.col-country-code{
    padding-right: 0px;
}
.browser-default.country-code{
    padding: 0px;
}
@media  screen and (max-width: 1000px) and (min-width:768px) {
    .signupbg{
        padding-top: 100px;
    }
    .hidden-sm-down{
        display: none;
    }
}
@media  screen and (max-width: 767px) {
    .signupbg{
        padding-top: 100px;
    }
    .hidden-sm-down{
        display: none;
    }
}

.input-otp{
  width: 100%;
  border: 1px solid #ccc;
  height: 35px;
  border-radius: 5px;
  padding: 0px 15px;
}
.label-otp{
    font-size: 15px;
    color: #555;
}
.btn-otp-submit {
  background: #fcb827 !important;
  padding: 8px 20px;
  box-shadow: none;
  float: right;
  margin-right: 0px;
}
.rotp{
    padding-top: 15px;
    display: block;
    float: left;
    font-size: 13px;
}
.modal-sm{
  margin-top: 10%;
}
.close{
  color: #555;
  z-index: 9999;
}.input-otp{
  width: 100%;
  border: 1px solid #ccc;
  height: 35px;
  border-radius: 5px;
  padding: 0px 15px;
}
.label-otp{
    font-size: 15px;
    color: #555;
}
.btn-otp-submit {
  background: #fcb827 !important;
  padding: 8px 20px;
  box-shadow: none;
  float: right;
  margin-right: 0px;
}
.rotp{
    padding-top: 15px;
    display: block;
    float: left;
    font-size: 13px;
}
.modal-sm{
  margin-top: 10%;
}
.close{
  color: #555;
  z-index: 9999;
}
