<div class="row">
  <div class="col-md-12 mt-5">
    <!-- Card -->
    <div class="card">

        <!-- Card body -->
        <div class="card-body">

            <!-- Default form subscription -->
            <form (ngSubmit)="pressreleaseForm()">
                <p class="h4 text-center py-4">Press Release</p>
                <input type="hidden" [(ngModel)]="pressreleaseid" name="pressreleaseid" />
                <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Name</label>
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="name" name="name">
                <br>                 
                <div class="switch">
                  <label>
                      Status Off
                      <input [(ngModel)]="status" name="status" type="checkbox">
                      <span class="lever"></span>
                      Status On
                  </label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary waves-light" mdbWavesEffect>Submit</button>
            </form>
            <!-- Default form subscription -->

        </div>
        <!-- Card body -->

    </div>
    <!-- Card -->
  </div>
</div>
