<div class="row justify-content-md-center ">
    <div class="col-md-10  ">
      <!-- Card -->
      <div class="card row">

      <!-- Card body -->
      <div class="card-body">

            <!-- Default form subscription -->
            <form (ngSubmit)="headerFormSubmit()">
              <!-- Default input name -->
              <p class="h4 text-center py-4 admin-title">Header</p>
              <input type="hidden" [(ngModel)]="headerid" name="headerid">
              <div class="row">
                <select class="browser-default form-control col-md-4 mb-3"  id="defaultFormCardDesiEx" [(ngModel)]="assessmenttypeid" name="assessmenttypeid">
                    <option value="" disabled>--Select Assessment--</option>
                    <option *ngFor="let a of assessmentTypeList" [value]="a._id">{{ a.name }}</option>
                </select>
              </div>
              <div class="row">

              <input type="text" id="defaultFormCardNameEx" class="form-control col-md-4" [(ngModel)]="headername" name="headername" placeholder="Header Name">
              <input type="text" id="defaultFormCardDisEx" class="form-control col-md-4" [(ngModel)]="description" name="description" placeholder="Header Description">
              <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </div>
            </form>
            <!-- Default form subscription -->

        </div>
        <!-- Card body -->

    </div>
    <!-- Card -->
  </div>
</div>

<div class="row justify-content-md-center  ">
  <div class="col-md-10 mt-5 mb-5 product-list scale-list">
    <!--Table-->
    <table *ngIf="headerList" datatable class="table table-hover table-responsive-md table-fixed">

      <!--Table head-->
      <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th class="label-no">#</th>
            <th class="label-name">Assessment type</th>
            <th class="label-name">Header Name</th>
            <th class="label-name">Header Description</th>
            <th class="label-action">Action</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
          <tr *ngFor="let h of headerList; let i = index">
              <th class="col-no" scope="row">{{ i + 1 }}</th>
              <td class="col-name">{{ h.assessmenttypeid.name }}</td>
              <td class="col-name">{{ h.headername }}</td>
              <td class="col-name">{{ h.description }}</td>
              <td class="col-action">
                <span  (click)="editHeader(h)" class="btn-edit" >Edit </span> /
                <span  (click)="deleteHeader(h._id)" class="btn-delete" >Delete</span>
                </td>
          </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>
</div>
