<div class="row">
  <div class=" col-md-12 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="col-sm-12">
          <h4 class="admin-title">Email Notification Template</h4>
        </div>
        <div class="panel-group notication-item" id="accordion" role="tablist" aria-multiselectable="true">
          <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
            <mdb-item [collapsed]="true">
              <mdb-item-head class="email-title"> Om Nama Shivaya </mdb-item-head>
              <mdb-item-body> Om sai shankara </mdb-item-body>
            </mdb-item>
          </mdb-squeezebox>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
            <mdb-item [collapsed]="true">
              <mdb-item-head class="email-title"> Om Nama Shivaya </mdb-item-head>
              <mdb-item-body> Om sai shankara </mdb-item-body>
            </mdb-item>
          </mdb-squeezebox>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
            <mdb-item [collapsed]="true">
              <mdb-item-head class="email-title"> Om Nama Shivaya </mdb-item-head>
              <mdb-item-body> Om sai shankara </mdb-item-body>
            </mdb-item>
          </mdb-squeezebox>
        </div>
      </div>
    </div>
  </div>
</div>