h4.admin-title {
    margin-top: 20px;
    font-size: 17px;
    color: #555;
    font-weight: 400;
    margin-bottom: 15px;
}
.accordion .card:last-of-type {
    background: #ecf0f9;
    margin-bottom: 10px;
}
.notication-item, mdb-item-head{
    background: #ecf0f9;
    margin-top: 5px;
}
mdb-item-body{
    background: #ecf0f9;
}
.accordion .card .card-body {
    background: #ecf0f9;
}

