<section class="container-fluid  support_page_header">
  <div class="container">
    <h2 class="col-12 support_page_main_heading" >How can we help you?    </h2>
    <div class="col-12">
      <form class="form-inline md-form mr-auto mb-12">
        <input class="form-control col-9 col-md-9 col-sm-12 search-input" type="text" placeholder="Search" aria-label="Search">
        <button class="btn aqua-gradient btn-rounded btn-sm my-0 waves-light col-2 col-md-2  search-btn" mdbWavesEffect type="submit">Search</button>
      </form>
    </div>
  </div>
</section>
<section>
  <div class="container support-page-body">
    <div class="row">
    <h2 class="col-md-7 col-sm-12 support_title">Video Tutorials</h2>
    <h6 class="col-md-4 col-sm-12 support_links">All video tutorials</h6>
  </div>
  <div class="row thumbnailsrow">
    <div class="col-md-3 col-sm-6 video-thumbnail"><img class="img-responsive" src="../../assets/img/video-tutorial.png"></div>
    <div class="col-md-3 col-sm-6 video-thumbnail"><img class="img-responsive" src="../../assets/img/video-tutorial2.jpg"></div>
    <div class="col-md-3 col-sm-6 video-thumbnail"><img class="img-responsive" src="../../assets/img/video-tutorial3.jpg"></div>
    <div class="col-md-3 col-sm-6 video-thumbnail"><img class="img-responsive" src="../../assets/img/video-tutorial4.jpg"></div>
   </div>
  <div class="row">
      <div class="col-md-4 col-sm-12">
        <h3 class="col-title">Getting Started</h3>
        <ul class="support-links">
          <li>Lorem Ipsum is simply dummy</li>
          <li>Lorem Ipsum is simply dummy</li>
          <li>Lorem Ipsum is simply dummy</li>
          <li>Lorem Ipsum is simply dummy</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
          <h3 class="col-title">FAQs</h3>
          <ul class="support-links">
            <li>Lorem Ipsum is simply dummy</li>
            <li>Lorem Ipsum is simply dummy</li>
            <li>Lorem Ipsum is simply dummy</li>
            <li>Lorem Ipsum is simply dummy</li>
          </ul>
      </div>
      <div class="col-md-4 col-sm-12">
          <h3 class="col-title">Billing & Shipping & Returns</h3>
          <ul class="support-links">
            <li>Lorem Ipsum is simply dummy</li>
            <li>Lorem Ipsum is simply dummy</li>
            <li>Lorem Ipsum is simply dummy</li>
            <li>Lorem Ipsum is simply dummy</li>
          </ul>
      </div>
    </div>

</div>

</section>
<section class="container-fluid  support_page_scontact">
    <div class="container">
      <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
      <h2 class="customer_experience_main_heading" >Something else?</h2>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <p>Didn’t find what you were looking for? Have a suggestion? Want to tell us how much you love us? Shoot us a message and we’ll get back to you shortly</p>
        <button class="contact-btn" [routerLink]="['/contact-us']">Contact <i class="fa fa-long-arrow-right pull-right" aria-hidden="true"></i></button>
      </div>
    </div>
    </div>
  </section>
