<div class="card submenu-wrapper">
        <div class="menu-tile">FAQ</div>
        <ul class="submenu-ul">
        <li class="submenu-item"><a [routerLink]="['/admin/frontend/faq/category']" class="waves-effect" mdbWavesEffect>Create FAQ Category</a></li>
        <li class="submenu-item"><a [routerLink]="['/admin/frontend/faq/subcategory']" class="waves-effect" mdbWavesEffect>Create FAQ Sub Category</a></li>
        <li class="submenu-item"><a [routerLink]="['/admin/frontend/faq']" class="waves-effect" mdbWavesEffect>Create FAQ</a></li>
        <li class="submenu-item"><a [routerLink]="['/admin/frontend/faq/list']" class="waves-effect" mdbWavesEffect>FAQ List</a></li>
    </ul>
  </div>
