<div>
    <ul>
        <li><a [routerLink]="['/admin/frontend/faq/category']" class="waves-effect" mdbWavesEffect>FAQ Category</a></li>
        <li><a [routerLink]="['/admin/frontend/faq/subcategory']" class="waves-effect" mdbWavesEffect>FAQ Sub Category</a></li>
        <li><a [routerLink]="['/admin/frontend/faq']" class="waves-effect" mdbWavesEffect>FAQ Add</a></li>
        <li><a [routerLink]="['/admin/frontend/faq/list']" class="waves-effect" mdbWavesEffect>FAQ List</a></li>
    </ul>
  </div>
