<div class="btn_hrindex" (click)="showModal('f')"> HR Index <i class="fa fa-calculator" aria-hidden="true"></i></div>
<div *ngIf="isModalShownFirst" [config]="{ show: true, ignoreBackdropClick: true }" (onHidden)="onHidden('f')" mdbModal #autoShownModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto;">
  <div class="modal-dialog modal-notify modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onHidden('f')">
                  <span aria-hidden="true" class="white-text">×</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="col-sm-12 first">
                  <div class="row">
                  <div class="col-sm-7"></div>
                  <div class="col-sm-5 model-detail">
                    <h2>360 EPES HR INDEX</h2>
                    <h4> Empowering people by enabling the mobility and productivity they need in a
                      modern work environment. </h4>
                      <p>Our secure Enterprise File Synchronization and Sharing (EFSS) solution,
                        for example, is unique because it not only gives clients complete control over their
                        data irrespective of where it resides, but it is easy and intuitive to use as well.</p>

                        <div class="col-sm-12 fst_btns">
                            <div class="row">
                              <div class="col-sm-4 link_btn">
                                <a (click)="onHidden('f')">No, Thank You</a>
                              </div>
                              <div class="col-sm-6">
                                  <a class="btn btn-primary" (click)="openSecond()" id="btnNext">Next</a>
                              </div>
                            </div>
                          </div>

                      </div>
                </div>
           </div>
          </div>
      </div>
  </div>
</div>

<div *ngIf="isModalShownSecont" [config]="{ show: true, ignoreBackdropClick: true }" (onHidden)="onHidden('s')" mdbModal #autoShownModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto;">
    <div class="modal-dialog modal-notify modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onHidden('s')">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 form-md-bg" id="carouselExampleIndicatorss" >
                    <div class="row">

                    <div class="col-sm-12 model-detail">
                      <h2 class="text-center">WELCOME TO 360 EPES HR INDEX</h2>
                     </div>

                     <div class="col-sm-12 form-modle">
                        <form class="reg_form" (ngSubmit)="hrIndexForm()">
                            <input type="text" id="first_name" class="form-control" placeholder="*Name" [(ngModel)]="name" name="name" >
                            <input type="email" id="email" class="form-control" placeholder="*Email" [(ngModel)]="email" name="email">
                            <input type="text" id="Phone" class="form-control" placeholder="*Phone" [(ngModel)]="mobile" name="mobile" >
                            <input type="text" id="designation" class="form-control" placeholder="Designation" [(ngModel)]="designation" name="designation">
                            <input type="text" id="company_name" class="form-control" placeholder="Company Name" [(ngModel)]="companyname" name="companyname">
                            <input type="text" id="industry" class="form-control" placeholder="Industry" [(ngModel)]="industry" name="industry">

                         <div class="text-center mt-4 sub_btn">
                            <!-- <a class="btn btn-primary" type="submit" (click)="openThird()">Check Your HR Index</a> -->
                            <button type="submit" class="btn btn-default btn-pay">Check Your HR Index </button>
                        </div>
                        </form>
                     </div>
                  </div>
                  </div>
            </div>
        </div>
    </div>
  </div>

  <div *ngIf="isModalShownThired" [config]="{ show: true, ignoreBackdropClick: true }" (onHidden)="onHidden('t')" mdbModal #autoShownModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto;">
      <div class="modal-dialog modal-notify modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onHidden('t')">
                      <span aria-hidden="true" class="white-text">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="staffing col-sm-12">
                      <div class="col-sm-12 pro" id="slide3">
                          <div class="progress progress-bar-striped">
                              <div class="progress-bar progress-bar1  progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                                <p>Training &<br> Development</p>
                              </div>
                              <div class="progress-bar  progress-bar2  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                  <p>Staffing</p>
                              </div>
                              <div class="progress-bar  progress-bar3  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                  <p>Performance &<br> System</p>
                              </div>
                              <div class="progress-bar  progress-bar4  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                                  <p>Safty &<br>Health</p>
                              </div>
                              <div class="progress-bar  progress-bar5  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                  <p>Labour &<br>Relations</p>
                              </div>
                              <div class="progress-bar progress-bar6  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                  <p>Internal &<br>Communication</p>
                              </div>
                              <div class="progress-bar  progress-bar7  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                  <p>Diversity</p>
                              </div>
                            </div>
                      </div>


                        <h3>STAFFING</h3>
                      <div class="row">
                          <div class="col-sm-12 staffing-scrol">

                        <div class="col-sm-12 question odd">
                          <p><span>1.</span>Cusanitium doloremque laudantium, totam rem aperiam</p>
                          <ul>
                            <li>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="poor" name="materialExampleRadios1">
                                <label class="form-check-label" for="poor">Poor</label>
                              </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="average" name="materialExampleRadios1">
                                    <label class="form-check-label" for="average">Average</label>
                                  </div>
                              </li>
                            <li>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="good" name="materialExampleRadios1">
                                    <label class="form-check-label" for="good">Good</label>
                                  </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="excelent" name="materialExampleRadios1">
                                    <label class="form-check-label" for="excelent">Excelent</label>
                                  </div>
                            </li>
                          </ul>
                        </div>
                        <!--second que -->
                        <div class="col-sm-12 question even">
                            <p><span>2.</span>Cusanitium doloremque laudantium, totam rem aperiam</p>
                            <ul>
                              <li>
                                <div class="form-check">
                                  <input type="radio" class="form-check-input" id="poor2" name="materialExampleRadios2">
                                  <label class="form-check-label" for="poor2">Poor</label>
                                </div>
                              </li>
                              <li>
                                  <div class="form-check">
                                      <input type="radio" class="form-check-input" id="average2" name="materialExampleRadios2">
                                      <label class="form-check-label" for="average2">Average</label>
                                    </div>
                                </li>
                              <li>
                                  <div class="form-check">
                                      <input type="radio" class="form-check-input" id="good2" name="materialExampleRadios2">
                                      <label class="form-check-label" for="good2">Good</label>
                                    </div>
                              </li>
                              <li>
                                  <div class="form-check">
                                      <input type="radio" class="form-check-input" id="excelent2" name="materialExampleRadios2">
                                      <label class="form-check-label" for="excelent2">Excelent</label>
                                    </div>
                              </li>
                            </ul>
                          </div>
                          <!-- third que -->
                          <div class="col-sm-12 question odd">
                              <p><span>3.</span>Cusanitium doloremque laudantium, totam rem aperiam</p>
                              <ul>
                                <li>
                                  <div class="form-check">
                                    <input type="radio" class="form-check-input" id="poor3" name="materialExampleRadios3">
                                    <label class="form-check-label" for="poor3">Poor</label>
                                  </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="average3" name="materialExampleRadios3">
                                        <label class="form-check-label" for="average3">Average</label>
                                      </div>
                                  </li>
                                <li>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="good3" name="materialExampleRadios3">
                                        <label class="form-check-label" for="good3">Good</label>
                                      </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="excelent3" name="materialExampleRadios3">
                                        <label class="form-check-label" for="excelent3">Excelent</label>
                                      </div>
                                </li>
                              </ul>
                            </div>
                            <!--fourth que -->
                            <div class="col-sm-12 question even">
                                <p><span>4.</span>Cusanitium doloremque laudantium, totam rem aperiam</p>
                                <ul>
                                  <li>
                                    <div class="form-check">
                                      <input type="radio" class="form-check-input" id="poor4" name="materialExampleRadios4">
                                      <label class="form-check-label" for="poor4">Poor</label>
                                    </div>
                                  </li>
                                  <li>
                                      <div class="form-check">
                                          <input type="radio" class="form-check-input" id="average4" name="materialExampleRadios4">
                                          <label class="form-check-label" for="average4">Average</label>
                                        </div>
                                    </li>
                                  <li>
                                      <div class="form-check">
                                          <input type="radio" class="form-check-input" id="good4" name="materialExampleRadios4">
                                          <label class="form-check-label" for="good4">Good</label>
                                        </div>
                                  </li>
                                  <li>
                                      <div class="form-check">
                                          <input type="radio" class="form-check-input" id="excelent4" name="materialExampleRadios4">
                                          <label class="form-check-label" for="excelent4">Excelent</label>
                                        </div>
                                  </li>
                                </ul>
                              </div>
                              <!-- fifth que -->
                              <div class="col-sm-12 question odd">
                                  <p><span>5.</span>Cusanitium doloremque laudantium, totam rem aperiam</p>
                                  <ul>
                                    <li>
                                      <div class="form-check">
                                        <input type="radio" class="form-check-input" id="poor5" name="materialExampleRadios5">
                                        <label class="form-check-label" for="poor5">Poor</label>
                                      </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="average5" name="materialExampleRadios5">
                                            <label class="form-check-label" for="average5">Average</label>
                                          </div>
                                      </li>
                                    <li>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="good5" name="materialExampleRadios5">
                                            <label class="form-check-label" for="good5">Good</label>
                                          </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="excelent5" name="materialExampleRadios5">
                                            <label class="form-check-label" for="excelent5">Excelent</label>
                                          </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-sm-12 question even">
                                    <p><span>6.</span>Cusanitium doloremque laudantium, totam rem aperiam</p>
                                    <ul>
                                      <li>
                                        <div class="form-check">
                                          <input type="radio" class="form-check-input" id="poor6" name="materialExampleRadios6">
                                          <label class="form-check-label" for="poor6">Poor</label>
                                        </div>
                                      </li>
                                      <li>
                                          <div class="form-check">
                                              <input type="radio" class="form-check-input" id="average6" name="materialExampleRadios6">
                                              <label class="form-check-label" for="average6">Average</label>
                                            </div>
                                        </li>
                                      <li>
                                          <div class="form-check">
                                              <input type="radio" class="form-check-input" id="good6" name="materialExampleRadios6">
                                              <label class="form-check-label" for="good6">Good</label>
                                            </div>
                                      </li>
                                      <li>
                                          <div class="form-check">
                                              <input type="radio" class="form-check-input" id="excelent6" name="materialExampleRadios6">
                                              <label class="form-check-label" for="excelent6">Excelent</label>
                                            </div>
                                      </li>
                                    </ul>
                                  </div>


                      </div>




                      </div>
                      <div class="col-sm-12 text-right last-btn">
                          <a class="btn btn-primary" id="btnback" (click)="openSecond()">Back</a>
                        <a class="btn btn-primary" id="btnNext" (click)="closeThird()">Next</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
