<div class="btn_hrindex" (click)="showModal('f')"> HR Index
    <i class="fa fa-calculator" aria-hidden="true"></i>
</div>
<div *ngIf="isModalShownFirst" [config]="{ show: true, ignoreBackdropClick: true }" (onHidden)="onHidden('f')" mdbModal #autoShownModal="mdb-modal"
    class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="overflow: auto;">
    <div class="modal-dialog modal-notify modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onHidden('f')">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 first">
                    <div class="row">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-5 model-detail hr-index-fr-st-screen">
                            <h2>360 EPES HR INDEX</h2>
                            <h4> Empowering people by enabling the mobility and productivity they need in a modern work environment.
                            </h4>
                            <p>Our secure Enterprise File Synchronization and Sharing (EFSS) solution, for example, is unique
                                because it not only gives clients complete control over their data irrespective of where
                                it resides, but it is easy and intuitive to use as well.</p>

                            <div class="col-sm-12 fst_btns">
                                <div class="row">
                                    <div class="col-sm-4 link_btn">
                                        <a (click)="onHidden('f')">No, Thank You</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn btn-primary" (click)="openSecond()" id="btnNext">Next</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isModalShownSecont" [config]="{ show: true, ignoreBackdropClick: true }" (onHidden)="onHidden('s')" mdbModal
    #autoShownModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="overflow: auto;">
    <div class="modal-dialog modal-notify modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onHidden('s')">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 form-md-bg" id="carouselExampleIndicatorss">
                    <div class="row">

                        <div class="col-sm-12 model-detail">
                            <h2 class="text-center">WELCOME TO 360 EPES HR INDEX</h2>
                        </div>

                        <div class="col-md-6 offset-md-3 form-modle mt-5">
                            <!-- <form class="reg_form" (ngSubmit)="hrIndexForm()"> -->
                            <input type="text" id="first_name" class="form-control mb-2" placeholder="*Name" [(ngModel)]="name" name="name">
                            <input type="email" id="email" class="form-control mb-2" placeholder="*Email" [(ngModel)]="email" name="email">
                            <input type="text" id="Phone" class="form-control mb-2" placeholder="*Phone" [(ngModel)]="mobile" name="mobile">
                            <input type="text" id="designation" class="form-control mb-2" placeholder="Designation" [(ngModel)]="designation" name="designation">
                            <input type="text" id="company_name" class="form-control mb-2" placeholder="Company Name" [(ngModel)]="companyname" name="companyname">
                            <input type="text" id="industry" class="form-control mb-2" placeholder="Industry" [(ngModel)]="industry" name="industry">

                            <div class="text-center mt-4 sub_btn">
                                <a class="btn btn-primary" type="submit" (click)="openThird()">Check Your HR Index</a>
                                <!-- <button type="submit" class="btn btn-default btn-pay">Check Your HR Index </button> -->
                            </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isModalShownThired" [config]="{ show: true, ignoreBackdropClick: true }" (onHidden)="onHidden('t')" mdbModal
    #autoShownModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="overflow: auto;">
    <div class="modal-dialog modal-notify modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onHidden('t')">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="staffing col-sm-12">
                    <div class="col-sm-12 pro" id="slide3">
                        <div class="progress progress-bar-striped">
                            <div class="progress-bar progress-bar1  progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0"
                                aria-valuemax="100">
                                <p>Training &
                                    <br> Development</p>
                            </div>
                            <div class="progress-bar  progress-bar2  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="30" aria-valuemin="0"
                                aria-valuemax="100">
                                <p>Staffing</p>
                            </div>
                            <div class="progress-bar  progress-bar3  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                                aria-valuemax="100">
                                <p>Performance &
                                    <br> System</p>
                            </div>
                            <div class="progress-bar  progress-bar4  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="15" aria-valuemin="0"
                                aria-valuemax="100">
                                <p>Safty &
                                    <br>Health</p>
                            </div>
                            <div class="progress-bar  progress-bar5  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="30" aria-valuemin="0"
                                aria-valuemax="100">
                                <p>Labour &
                                    <br>Relations</p>
                            </div>
                            <div class="progress-bar progress-bar6  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                                aria-valuemax="100">
                                <p>Internal &
                                    <br>Communication</p>
                            </div>
                            <div class="progress-bar  progress-bar7  progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                                aria-valuemax="100">
                                <p>Diversity</p>
                            </div>
                        </div>
                    </div>
                    <div>

                        <form>
                            <div class="row" *ngFor="let questhead of questions; let j = index">
                                <div class="col-sm-12" *ngIf="section[j]">
                                    <h3>{{questhead.head}}</h3>
                                    <div class="col-sm-12 staffing-scrol">
                                        <div class="col-sm-12 question odd" *ngFor="let quest of questhead.question; let i = index">
                                            <p>
                                                <span>{{i+1}}.</span>{{quest.q}}</p>
                                            <ul>
                                                <li>
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" value="1" id="poor{{j}}{{i}}" [(ngModel)]="question[j][i]" name="question{{j}}{{i}}">
                                                        <label class="form-check-label" for="poor{{j}}{{i}}">Poor</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" value="2" id="average{{j}}{{i}}" [(ngModel)]="question[j][i]" name="question{{j}}{{i}}">
                                                        <label class="form-check-label" for="average{{j}}{{i}}">Average</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" value="3" id="good{{j}}{{i}}" [(ngModel)]="question[j][i]" name="question{{j}}{{i}}">
                                                        <label class="form-check-label" for="good{{j}}{{i}}">Good</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" value="4" id="excelent{{j}}{{i}}" [(ngModel)]="question[j][i]" name="question{{j}}{{i}}">
                                                        <label class="form-check-label" for="excelent{{j}}{{i}}">Excellent</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-right last-btn">
                                        <button type="button" (click)="showNext(j+1)" class="btn btn-success">Next</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isModalShownFourth" [config]="{ show: true, ignoreBackdropClick: true }" (onHidden)="onHidden('fo')" mdbModal
    #autoShownModal="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="overflow: auto;">
    <div class="modal-dialog modal-notify modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onHidden('fo')">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                    <h2 class="text-center hr-scrore-title">HR Index Score</h2>
                <div class="staffing scrore-container col-sm-12">
                    <div class="col-md-12">
                    <chart [options]="options">

                    </chart>
                </div>
                    <div class="col-md-6">
                        <table class="table table-sm">
                            <thead>
                                <h3>Score</h3>
                            </thead>
                            <tbody>
                                <tr *ngFor="let questhead of questions; let j = index">
                                    <td>{{questhead.head}}</td>
                                    <td>{{staffing[j]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 text-right last-btn">
                    <!-- <a class="btn btn-primary" id="btnback" (click)="openSecond()">Back</a> -->
                    <!-- <a class="btn btn-primary" id="btnNext" (click)="closeThird()">Next</a> -->
                    <!-- <button type="submit" class="btn btn-success">Save</button> -->
                </div>
            </div>
        </div>
    </div>
</div>