<section class="partner-page-body">
<div class="container">
  <h3 class="partner-page-heading">Lorem ipsum dolor sit amet  </h3>
  <div class="list-container">
    <ul class="Partnerlist">
      <li class="list-item"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</li>
      <li class="list-item"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</li>
      <li class="list-item"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</li>
      <li class="list-item"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</li>
    </ul>
  </div>
</div>
</section>
<div class="clearfix"></div>
<section class="partner-start-button">
  <div class="container">
    <h5 class="Partner-withus-label">Partner with us now</h5>
    <div class="Partner-withus-btn">GET STARTED NOW</div>
  </div>
</section>
