h3.partner-page-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 40px;
    margin-top: 25px;
}
ul.Partnerlist {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
li.list-item {
    float: left;
    width: 50%;
    padding: 1.5% 2.5%;
    font-size: 17px;
}
li.list-item::before {
    font-family: 'FontAwesome';
    content: '\f058';
    margin: 0 5px 0 -30px;
    color: #86c06a;
    font-size: 22px;
    position: relative;
    top: 12px;
}
section.partner-start-button {
    background: #ffa500;
    padding: 25px 0px;
    text-align: center;
    color: #000;
    margin-top: 30px;
}
h5.Partner-withus-label {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}
.Partner-withus-btn {
    max-width: 200px;
    margin: 0px auto;
    background: #fff;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    color: gray;
}
@media only screen and (max-width: 768px){
    .partner-page-body{
     margin-top: 74px;
    }
    h3.partner-page-heading{
        font-size: 30px;
        margin-bottom: 0px !important;
        margin-top: 0px ;
        padding-top: 20px;
    }
}
@media only screen and (max-width: 767px){
    h3.partner-page-heading {
        font-size: 20px;
        margin-bottom: 0px !important;
        margin-top: 0px ;
        padding-top: 20px;
    }
    .partner-page-body{
     margin-top: 55px;
    }
    li.list-item {
        float: none;
        width: 100%;
        padding-left: 30px;
    }
    li.list-item::before {
        margin: 0 5px 0 -30px;
    }
}