<div class="card submenu-wrapper">
    <div class="menu-tile">Department</div>
    <ul class="submenu-ul">
      <li class="submenu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/admin/department']" class="waves-effect" > Department</a></li>
      <li class="submenu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/admin/department/sub']" class="waves-effect" >Sub Department</a></li>
  </ul>
</div>
