.icons p {
    color: #fff;
    margin-top: 20px;
    line-height: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    -webkit-transform: translate(11px, -13px);
    -ms-transform: translate(11px, -13px);
    transform: translate(11px, -13px);
}