<app-navbar></app-navbar>
<section class="container-fluid  customer_experience_header">
  <div class="container">
    <h2 class="customer_experience_main_heading" >Lorem Ipsum is simply dummy text of the printing</h2>
    <h6 class="customer_experience_sub_heading"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, specimen book.</h6>
    <div class="customer_experience_list">
        <ul class="header-ul">
          <li> <i class="fa fa-phone" aria-hidden="true"></i>+91 98310 12345</li>
          <li><i class="fa fa-envelope-o" aria-hidden="true" ></i>support@360epes.com</li>
          <li>Mon - Friday 10:00 AM - 7:00 PM</li><li><i class="fa fa-comments"  aria-hidden="true"></i>Live Chat</li>
        </ul>
    </div>

  </div>
</section>
<section class="ustomer_experience_body">
  <div class="container">
    <h2 class="customer_experience_main_heading" >Lorem Ipsum is simply dummy text </h2>
    <h6 class="customer_experience_sub_heading"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h6>
    <div class="customer_experience_dics">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <img src="../../assets/img/customer-experience.jpg" class="img-responsive">
    </div>

    <h2 class="customer_experience_main_heading" >Lorem Ipsum is simply dummy text </h2>
    <h6 class="customer_experience_sub_heading"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h6>
    <div class="customer_experience_dics">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="customer_experience_icons"><img src="../../assets/img/Fastest_Onboarding.jpg" class="img-responsive"></div>
            <div class="customer_experience_col_heading">Fastest Onboarding</div>
            <div class="customer_experience_col_dics">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="customer_experience_icons"><img src="../../assets/img/team.jpg" class="img-responsive"></div>
              <div class="customer_experience_col_heading">Awesome Team </div>
              <div class="customer_experience_col_dics">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="customer_experience_icons"><img src="../../assets/img/sec-tools.jpg" class="img-responsive"></div>
                <div class="customer_experience_col_heading">Propreitary Tools</div>
                <div class="customer_experience_col_dics">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="customer_experience_icons"><img src="../../assets/img/live-chat.jpg" class="img-responsive"></div>
                  <div class="customer_experience_col_heading">Live Chat</div>
                  <div class="customer_experience_col_dics">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</div>
              </div>
    </div>
  </div>
</section>
<section class="container-fluid  free-trail">
  <div class="container">
    <h5 class="free-trail-label">Start your free trial</h5>
    <div class="free-trail-btn">GET STARTED NOW</div>
  </div>
</section>
<app-footerbar></app-footerbar>
