.container-fluid.customer_experience_header {
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: block;
    -ms-flex: none;
    flex: none;
    color:#fff;
    min-height: 150px;
   /* background: #0079a8;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #2b8dd6), color-stop(100%, #0079a8));
    background: linear-gradient(to bottom, #2b8dd6 0%, #0079a8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b8dd6', endColorstr='#0079a8', GradientType=0 );
    */
    background: #43b64a; /* Old browsers */
    background: -moz-linear-gradient(top, #43b64a 0%, #159923 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #43b64a 0%,#159923 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #43b64a 0%,#159923 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43b64a', endColorstr='#159923',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(to bottom, #43b64a, #3aaf41, #2fa737, #24a02d, #159923);

}
.customer_experience_main_heading {
    font-family: "Roboto", sans-serif;
    text-align: left;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 400;
}
.customer_experience_sub_heading {
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
}
.header-ul {
    list-style-type: none;
    margin-left: -10px !important;
    padding-top: 50px;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 10px;
}
.header-ul li {
    display: inline-block;
    color: white;
    padding: 0px 10px;
    padding-left: 0px;
    font-size: 14px;
}
.header-ul li .fa{
    margin-right: 5px;
}
.ustomer_experience_body .customer_experience_main_heading,
.ustomer_experience_body .customer_experience_sub_heading {
    text-align: center;
}
.customer_experience_dics{
    max-width: 660px;
    font-size: 15px;
    margin: 0px auto;
    text-align: justify;
    line-height: 28px;
    text-align: center;
}
.customer_experience_dics .img-responsive{
    max-width: 100%;
    margin-top: 15px;
}
.customer_experience_col_heading {
    font-size: 18px;
    margin: 10px 0px;
    color: #000;
    text-align: center;
}
.customer_experience_icons{
    text-align: center;
}
.customer_experience_col_dics{
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}
section.container-fluid.free-trail {
    background: #ffa500;
    padding: 25px 0px;
    text-align: center;
    color: #000;
    margin-top: 30px;
}
h5.free-trail-label {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}
.free-trail-btn {
    max-width: 200px;
    margin: 0px auto;
    background: #fff;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    color: gray;
}
.ustomer_experience_body h6.customer_experience_sub_heading::after {
    content: "";
    width: 150px;
    height: 5px;
    background: #fdb827;
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 25px;
}
@media only screen and (max-width: 768px){
    .container-fluid.customer_experience_header{
    margin: 0px;
    margin-top: 85px;
    }
    
}
@media only screen and (max-width: 767px){
    .container-fluid.customer_experience_header{
    margin: 0px;
    margin-top: 68px;
    }
    
}