<div class="card mt-5 mb-5">
    <div class="card-body">
      <p class="h4 text-center py-4">Contactus List</p>
      <!--<a [routerLink]="['/admin/blog']" class="btn btn-outline-secondary btn-rounded waves-effect">Add New</a>-->
        <!--Table-->
        <table *ngIf="contactusList" datatable class="table table-hover table-responsive-md table-fixed">
            <!--Table head-->
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Message</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
              <tr *ngFor="let c of contactusList; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{c.name}}</td>
                  <td>{{c.email}}</td>
                  <td>{{c.mobile}}</td>
                  <td>{{c.message}}</td>                                 
                  <td>
                      <button type="button" (click)="deleteContactus(c._id)" class="btn btn-danger waves-light" mdbRippleRadius>Delete<i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                  </td>
              </tr>
            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
  </div>
  