<div class="card submenu-wrapper">
  <div class="menu-tile">Training</div>
  <ul class="submenu-ul">
    <li class="submenu-item">
      <a [routerLink]="['/admin/training']">Training Head</a>
    </li>
    <li class="submenu-item">
      <a [routerLink]="['/admin/training/addsubheads']">Training Sub Head</a>
    </li>
    <li class="submenu-item">
      <a [routerLink]="['/admin/training/budgetmaster']">Budget Master</a>
    </li>
    <!--<li class="submenu-item"><a [routerLink]="['/admin/training/budgetplanning']" >Budget Planning</a></li>-->
  </ul>
</div>