<div class="row">
    <div class="col-md-12">

            <form (ngSubmit)="headerFormSubmit()">
                <!-- Default input name -->
                <input type="hidden" [(ngModel)]="headerid" name="headerid">
                <br>
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="headername" name="headername" placeholder="Header Name">
                <br>
                <input type="text" id="defaultFormCardDisEx" class="form-control" [(ngModel)]="description" name="description" placeholder="Header Description">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
</div>

<div class="row justify-content-md-center mb-5">
  <div class="col-md-10 mt-5">
    <!--Table-->
    <table class="table">

      <!--Table head-->
      <thead class="mdb-color darken-3">
          <tr class="text-white">
              <th>#</th>
              <th>Header</th>
              <th>Description</th>
              <th>Action</th>
          </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
          <tr *ngFor="let h of headerList; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ h.headername }}</td>
              <td>{{ h.description }}</td>
              <td>
                <button type="button" (click)="editHeader(h)" class="btn btn-primary waves-light" mdbWavesEffect><i class="fa fa-edit" aria-hidden="true"></i></button>
                <button type="button" (click)="deleteHeader(h._id)" class="btn btn-danger waves-light" mdbWavesEffect><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
          </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>
</div>
