<div class="card submenu-wrapper">
    <div class="menu-tile">JD</div>
    <ul class="submenu-ul">
      <li class="submenu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/admin/jd']" class="waves-effect" >Create JD</a></li>
      <li class="submenu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/admin/jd/list']" class="waves-effect" >List</a></li>
      <li class="submenu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/admin/jd/assignquestion']" class="waves-effect" >Assign Questions</a></li>
  </ul>
</div>
