<div class="row">
    <div class="col-md-12 mt-5">
      <!-- Card -->
      <div class="card">
  
          <!-- Card body -->
          <div class="card-body">
  
              <!-- Default form subscription --> 
              <form (ngSubmit)="blogForm()">
                  <p class="h4 text-center py-4">Blog</p>
                  <input type="hidden" [(ngModel)]="blogid" name="blogid" />
                  <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Name</label>
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="name" name="name">
                  <br> 
                  <label for="defaultFormCarddesc" class="grey-text font-weight-light">Description</label>
                  <ckeditor [(ngModel)]="description" name="description" id="defaultFormCarddesc"></ckeditor>
                  <br>
                  <div class="switch">
                    <label>
                        Status Off
                        <input [(ngModel)]="status" name="status" type="checkbox">
                        <span class="lever"></span>
                        Status On
                    </label>
                  </div>
                  <br>                  
                  <button type="submit" class="btn btn-primary waves-light" mdbWavesEffect>Submit</button>
              </form>
              <!-- Default form subscription -->
          </div>
          <!-- Card body -->
      </div>
      <!-- Card -->
    </div>
  </div>
  