<div class="card submenu-wrapper">
    <div class="menu-tile">Global Settings</div>
    <ul class="submenu-ul">
  <li class="submenu-item"><a [routerLink]="['/admin/settings/companyinfo']" >Company Information</a></li>
  <li class="submenu-item"><a [routerLink]="['/admin/settings/email']" >Email</a></li>
  <li class="submenu-item"><a [routerLink]="['/admin/settings/email-template']" >Email Template</a></li>
  <li class="submenu-item"><a [routerLink]="['/admin/settings/subscriptioninfo']" >Subscription Info</a></li>
  <li class="submenu-item"><a [routerLink]="['/admin/settings/appraisal']" >Appraisal</a></li>
  <li class="submenu-item"><a [routerLink]="['/admin/settings/general-settings']" >General Settings</a></li>
</ul>
</div>
