p.h4.text-center.py-4.admin-title {
    color: #494949;
    font-weight: normal;
    padding-top: 15px !important;
    text-align: left !important;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 10px !important;
    background: #ffffff;
    margin-left: -20px;
    border: none;
    width: 30%;
}
.card .card-body{
    background: #f6f6f6;
    box-shadow: none;
}
.card {
    position: relative;
    padding: 25px 30px 50px 30px;
}
.add-faq label{
    font-size: 13px;
    color: #000 !important;
}
.btn-submit{
    background-color: #f38e00 !important;
    color: #fff !important;
    font-size: 14px;
    padding: 5px 15px;
    float: right;
}
.add-faq .form-group {
    margin-bottom: .5rem;
}
select#defaultFormCardDesiEx, input#defaultFormCardNameEx,
textarea#defaultFormCarddescEx {
    font-size: 13px;
}
.form-control.col-md-10{
    max-width: 300px;
}
.feild-features{   
     max-width: 300px;
    padding-left: 0px;
    padding-right: 0px;
}
.feild-button{
    max-width: 250px;
}