<section id="side_bar_faq">
  <div class="container">
    <div class="col-sm-12 side_list">
      <div class="col-sm-4">
        <ul class="caterory_sub">
          <li class="list_head">
            <a href="#">Categories
            </a>
          </li>
          <li class="collapsed active" *ngFor="let f of faqcategoryList; let i=index"><i class="fa fa-arrow-circle-right"></i>{{f.name}}<span class="arrow"></span>
            <ul *ngIf="list[f._id]" >
              <li *ngFor="let sc of list[f._id]; let i=index">
                  <a  (click)="getFaqByCategory(sc._id)"><i class="fa fa-angle-right"></i> {{sc.name}} <span class="arrow"></span></a>
                </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 sub_acc">
      <div class="col-sm-12">
          <h4>Frequently Asked Questions</h4>
          <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus?</p>
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!--Accordion wrapper-->
        <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
          <mdb-item  [collapsed]="true" *ngFor="let item of faqList">
              <mdb-item-head> {{ item.question }} </mdb-item-head>
              <mdb-item-body> {{ item.answer }} </mdb-item-body>
          </mdb-item>
        </mdb-squeezebox>
<!--/.Accordion wrapper-->
    </div><!-- panel-group -->

      </div>
    </div>
  </div>
</section>
