<p class="h4 admin-title-header">
        <i class="fa fa-home" aria-hidden="true"></i> - HR Index List</p>
<div class="row justify-content-md-center ">
  <div class="col-md-12  product-list scale-list">
    <!-- Card -->  
    <div class="card">
<div class="card-body">
<!--<a [routerLink]="['/admin/blog']" class="btn btn-outline-secondary btn-rounded waves-effect">Add New</a>-->
  <!--Table-->
  <table *ngIf="hrindexList" datatable class="table table-hover table-responsive-md table-fixed hr-list">
      <!--Table head-->
      <thead>
          <tr>
              <th class="label-no">#</th>
              <th class="label-name">Name</th>
              <th class="label-name">Email</th>
              <th class="label-name">Phone Number</th>
              <th class="label-name">Designation</th>
              <th class="label-name">Company Name</th>
              <th class="label-name">Industry</th>
              <!-- <th class="label-name">Staffing</th>
              <th class="label-name">Training and Development</th>
              <th class="label-name">Performance Systems</th>
              <th class="label-name">Safety and Health</th>
              <th class="label-name">Labour Relations</th>
              <th class="label-name">Internal Communication</th>
              <th class="label-name">Diversity</th> -->
              <th class="label-action">Action</th>
          </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr *ngFor="let c of hrindexList; let i = index">
            <th class="col-no" scope="row">{{i+1}}</th>
            <td class="col-name">{{c.name}}</td>
            <td class="col-name">{{c.email}}</td>
            <td class="col-name">{{c.mobile}}</td>
            <td class="col-name">{{c.designation}}</td> 
            <td class="col-name">{{c.companyname}}</td>
            <td class="col-name">{{c.industry}}</td>
            <!-- <td class="col-name">{{c.staffing}}</td>
            <td class="col-name">{{c.traininganddevelopment}}</td>
            <td class="col-name">{{c.performancesystems}}</td>
            <td class="col-name">{{c.safetyandhealth}}</td>
            <td class="col-name">{{c.labourrelations}}</td>
            <td class="col-name">{{c.internalcommunication}}</td>                                
            <td class="col-name">{{c.diversity}}</td> -->
            <td class="col-action">
                <span  (click)="deleteHrIndex(c._id)" class="btn-delete" mdbRippleRadius>Delete</span>
            </td>
        </tr>
      </tbody>
      <!--Table body-->
  </table>
  <!--Table-->
</div>
</div>
</div></div>