<!--Double navigation-->
<header class="admin_gray_header ">

  <!-- Sidebar navigation -->
  <mdb-sidenav #sidenav class=" fixed admin-sidebar-nav admin-leftnav" [fixed]="true">

  <logo>
      <!-- Logo -->
      <li>
          <div class="logo-wrapper waves-light">
              <a href="#"><img src="../../../assets/img/epes-logo.png" class="img-fluid flex-center"></a>
          </div>
      </li>
      <!--/. Logo -->
  </logo>

  <links>
      <!-- Side navigation links -->
      <li>
          <ul class="collapsible collapsible-accordion ">
              <mdb-squeezebox [multiple]="false" aria-multiselectable="false">

                  <!-- Collapsible link -->
                  <mdb-item>
                      <mdb-item-head > Product</mdb-item-head>
                      <mdb-item-body>
                          <ul>
                              <li><a [routerLink]="['/admin/product']" class="waves-effect" >Product Add</a></li>
                              <li><a [routerLink]="['/admin/product/list']" class="waves-effect" >Product List</a></li>
                          </ul>
                      </mdb-item-body>
                  </mdb-item>

                  <mdb-item>
                    <mdb-item-head > Features</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a [routerLink]="['/admin/feature']" class="waves-effect" mdbWavesEffect>Features Add</a></li>
                            <li><a [routerLink]="['/admin/feature/list']" class="waves-effect" mdbWavesEffect>Features List</a></li>
                        </ul>
                    </mdb-item-body>
                  </mdb-item>

                  <mdb-item>
                    <mdb-item-head > Testimonial</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a [routerLink]="['/admin/testimonial']" class="waves-effect" mdbWavesEffect>Testimonial Add</a></li>
                            <li><a [routerLink]="['/admin/testimonial/list']" class="waves-effect" mdbWavesEffect>Testimonial List</a></li>
                        </ul>
                    </mdb-item-body>
                  </mdb-item>

                  <mdb-item>
                    <mdb-item-head > FAQ</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a [routerLink]="['/admin/faq/category']" class="waves-effect" mdbWavesEffect>FAQ Category</a></li>
                            <li><a [routerLink]="['/admin/faq/subcategory']" class="waves-effect" mdbWavesEffect>FAQ Sub Category</a></li>
                            <li><a [routerLink]="['/admin/faq']" class="waves-effect" mdbWavesEffect>FAQ Add</a></li>
                            <li><a [routerLink]="['/admin/faq/list']" class="waves-effect" mdbWavesEffect>FAQ List</a></li>
                        </ul>
                    </mdb-item-body>
                  </mdb-item>
                  <mdb-item>
                    <mdb-item-head > BLOG </mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a [routerLink]="['/admin/blog']" class="waves-effect" mdbWavesEffect>BLOG Add</a></li>
                            <li><a [routerLink]="['/admin/blog/list']" class="waves-effect" mdbWavesEffect>BLOG List</a></li>
                        </ul>
                    </mdb-item-body>
                  </mdb-item>

                  <mdb-item>
                    <mdb-item-head> PRODUCT ROADMAP </mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a [routerLink]="['/admin/roadmap']" class="waves-effect" mdbWavesEffect>Product RoadMap Add</a></li>
                            <li><a [routerLink]="['/admin/roadmap/list']" class="waves-effect" mdbWavesEffect>Product RoadMap List</a></li>
                        </ul>
                    </mdb-item-body>
                  </mdb-item>

                  <mdb-item>
                    <mdb-item-head > PRESS RELEASE </mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a [routerLink]="['/admin/press-release']" class="waves-effect" mdbWavesEffect>Press Release Add</a></li>
                            <li><a [routerLink]="['/admin/press-release/list']" class="waves-effect" mdbWavesEffect>Press Release List</a></li>
                        </ul>
                    </mdb-item-body>
                  </mdb-item>

                  <mdb-item>
                      <mdb-item-head > White Paper </mdb-item-head>
                      <mdb-item-body>
                          <ul>
                              <li><a [routerLink]="['/admin/whitepaper']" class="waves-effect" mdbWavesEffect>White Paper List</a></li>
                          </ul>
                      </mdb-item-body>
                    </mdb-item>
              </mdb-squeezebox>
          </ul>
      </li>

      <li>
        <ul class="collapsible collapsible-accordion">
            <mdb-squeezebox [multiple]="false" aria-multiselectable="false">
                <!-- Collapsible link -->
                <mdb-item>
                    <mdb-item-head > Approver</mdb-item-head>
                    <mdb-item-body>
                        <ul>
                            <li><a [routerLink]="['/admin/approver']" class="waves-effect" mdbWavesEffect>Approver</a></li>
                        </ul>
                    </mdb-item-body>
                </mdb-item>

                <mdb-item>
                  <mdb-item-head > JD</mdb-item-head>
                  <mdb-item-body>
                      <ul>
                          <li><a [routerLink]="['/admin/jd']" class="waves-effect" mdbWavesEffect>JD</a></li>
                      </ul>
                  </mdb-item-body>
                </mdb-item>
                <mdb-item>
                  <mdb-item-head > Global Setting</mdb-item-head>
                  <mdb-item-body>
                      <ul>
                          <li><a [routerLink]="['/admin/scale']" class="waves-effect" mdbWavesEffect>Scale</a></li>
                          <li><a [routerLink]="['/admin/header']" class="waves-effect" mdbWavesEffect>Header</a></li>
                          <li><a [routerLink]="['/admin/question']" class="waves-effect" mdbWavesEffect>Question</a></li>
                      </ul>
                  </mdb-item-body>
                </mdb-item>

            </mdb-squeezebox>
        </ul>
    </li>
      <!--/. Side navigation links -->
      </links>
      <div class="sidenav-bg mask-strong"></div>
  </mdb-sidenav>
  <!--/. Sidebar navigation -->
<div class="container">
      <!-- Navbar -->
  <mdb-navbar SideClass=" navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav admin-top-navbar" [containerInside]="false">



<navlinks>
        <logo>
                <!-- Breadcrumb-->
                <div class="logo-wrapper waves-light admin-header-img">
                  <a href="#"><img src="../../../assets/img/epes-logo.png" ></a>
              </div>
                <!--<div class="breadcrumbs breadcrumb-dn mr-auto">
                    <p>Material Design for Bootstrap</p>
                </div>-->
                <!--/. Breadcrumb-->
            </logo>



    <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav admin-leftnav">
        <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect> Dashboard</a>
        <!-- SideNav slide-out button -->
    <div class="float-right">
            <a (click)="sidenav.show()" class="button-collapse epes-admin-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!--/. SideNav slide-out button -->
    </li>
    <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Reports</a>
    </li>
    <li class="nav-item dropdown btn-group" dropdown>
      <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>Quick Links</a>
      <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
          <a class="dropdown-item" >Quick Links1</a>
      </div>
    </li>
    </ul>
</navlinks>

  <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ">
            <li class="nav-item">
                    <a class="nav-link waves-light btn-wizard" mdbWavesEffect>Configuration Wizard </a>
                </li>

            <li class="nav-item cercle-icon">
                    <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-bell" aria-hidden="true"></i> </a>
                </li>

          <li class="nav-item cercle-icon">
          <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-envelope"></i> </a>
      </li>

      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius><div class="user-icon"><img src="../../../assets/img/user-icon.jpg"></div>
           <!-- <i class="fa fa-user" aria-hidden="true"></i>--><span class="clearfix d-none d-sm-inline-block">Company</span></a>
        <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" >Sign Out</a>
        </div>
      </li>
      </ul>
  </navlinks>
  </mdb-navbar>
      <!--/. Navbar -->
    </div>
</header>
<!--/.Double navigation-->
