<div class="row">
    <div class=" col-md-12 col-sm-12">
        <div class="card">

          <!-- Card body -->
          <div class="card-body">

              <!-- Default form subscription -->
              <form (ngSubmit)="approverForm()">
                <p class="h4 text-center py-4 admin-title">Enter appraisal approver detail</p>
                  <input type="hidden" [(ngModel)]="approverid" name="approverid">
                  <!-- Default input name -->
                  <div class="row mb-4 no-padding">
                  <label for="defaultFormCardNameEx" class="grey-text font-weight-light control-label col-md-3 label-Department">Name</label>
                  <input type="text" id="defaultFormCardNameEx" class="form-control col-md-10" [(ngModel)]="name" name="name">
                </div>
                <div class="row mb-4 no-padding">
                <!-- Default input email -->
                  <label for="defaultFormCardEmailEx" class="grey-text font-weight-light control-label col-md-3 label-Department">Email</label>
                  <input type="email" id="defaultFormCardEmailEx" class="form-control col-md-10" [(ngModel)]="email" name="email">
                    </div>
                    <div class="row mb-4 no-padding">
                  <label for="defaultFormCardDesiEx" class="grey-text font-weight-light control-label col-md-3 label-Department">Designation</label>
                  <select class="browser-default form-control col-md-10" id="defaultFormCardDesiEx" [(ngModel)]="designation" name="designation">
                      <option value="MD">MD</option>
                      <option value="Board">Board</option>
                  </select>
                    </div>
                 

                  <div class="row justify-content-center text-center">
                          <button class="btn btn-outline-purple px-3 btn-submit" type="button">Skip </button>
                          <button class="btn btn-outline-purple px-3 btn-submit" type="submit">Continue </button>
                  </div>
              </form>
              <!-- Default form subscription -->

          </div>
          <!-- Card body -->

      </div>
      <!-- Card -->
    </div>
</div>
<div class="justify-content-md-center mt-3 mb-5 product-list scale-list">

    <!--Table-->
    <table class="table">

      <!--Table head-->
      <thead class="mdb-color darken-3">
          <tr class="text-white">
              <th lass="label-no">#</th>
              <th  class="label-name">Name</th>
              <th  class="label-name">Email</th>
              <th  class="label-name">Designation</th>
              <th  class="label-action">Action</th>
          </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
          <tr *ngFor="let a of approverList; let i = index">
              <th col-no scope="row">{{ i + 1 }}</th>
              <td class="col-name">{{ a.name }}</td>
              <td class="col-name">{{ a.email }}</td>
              <td class="col-name">{{ a.designation }}</td>
              <td class="col-action">
                <span (click)="editApprover(a)" class=" btn-edit" >Edit </span>/
                <span (click)="deleteApprover(a._id)" class=" btn-delete">Delete </span>
                </td>
          </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->

</div>
