
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light bg-faded nav_bd_poll_voted">
    <logo>
        <a class="navbar-brand" [routerLink]="['']">
            <img src="../../assets/img/epes-logo.png" />
        </a>
    </logo>
    <links>
    	<ul class="navbar-nav mr-auto">
          <li class="nav-item">
                  <a [routerLink]="['/products']" class="nav-link waves-light" mdbWavesEffect>Products<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/about-us']" class="nav-link waves-light" mdbWavesEffect>Company</a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/customer-experience']" class="nav-link waves-light" mdbWavesEffect>Customer Experience</a>
              </li>
            <li class="nav-item">
                  <a [routerLink]="['/support-services']" class="nav-link waves-light" mdbWavesEffect>Support & Services</a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/resources']" class="nav-link waves-light" mdbWavesEffect>Resources</a>
              </li>
              <li class="nav-item login_all_poll" >
                <span><a [routerLink]="['/registration']" class="nav-link" href="#">Register</a></span>
              </li>

              <li class="nav-item login_all_poll" >
                <span> <a [routerLink]="['/login']" class="nav-link" href="#">Company Login</a></span>
              </li>
        </ul>
    </links>
</mdb-navbar>
