.login_all_poll span{
    float: left;
}
span.divaider {
    margin-top: 8px;
}
.login_all_poll span a:hover{
    text-decoration: underline;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover{
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}