<div class="form-group">
    <div class="row">
        <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <p class="h4 text-center py-4 admin-title">Primary Email</p>
                    <div class="">
                        <h5 class="admin-subtitle">Add an Email Address</h5>
                        <h6>
                            <strong>We recommend you atleast one personal address and one work address.</strong> After adding the
                            new address, go to that account and click the link in the confimation email.</h6>
                    </div>
                    <form (ngSubmit)="emailForm()">
                            <input type="hidden" [(ngModel)]="emailid" name="emailid" />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 ">
                                   <!-- <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Email id</label>-->
                                    <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="email" name="email" placeholder="Email Address">
                                </div>
                                <div class="col-md-6 field-button">
                                    <button type="submit" class="btn btn-warning waves-light btn-submit" >Add Email Address</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="">
                        <h5 class="admin-subtitle">Choose your primary email address </h5>
                        <h6>Choose your primary email address Click "make Primary" next to the addressw you want to use for 360
                            EPES email addresses must be confirmed before they can become primary.</h6>
                    </div>

                    <div class="row">
                        <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
                            <table *ngIf="emailList" class="table table-hover table-responsive-md table-fixed">
                                <thead>
                                    <tr>
                                        <th class="label-email">#</th>
                                        <th class="label-primaryaddress">Primary Address</th>
                                        <th class="label-action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of emailList; let i = index">
                                        <td class="col-email">{{i+1}}</td>
                                        <td class="col-primaryaddress">{{c.email}}</td>
                                        <td class="col-action">
                                            <span (click)="deleteEmail(c._id)" class="btn-delete" mdbRippleRadius>Remove </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>