<div class="form-group">
    <div class="row">
        <div class=" col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <p class="h4 text-center py-4 admin-title">Primary Email Address</p>
                    <div class="">
                        <h5 class="admin-subtitle">Add an Email Address</h5>
                        <h6>
                            <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </strong> Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                            a galley of type and scrambled it to make a type specimen book</h6>
                    </div>
                    <form (ngSubmit)="emailForm()">
                        <input type="hidden" [(ngModel)]="emailid" name="emailid" />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 ">
                                    <!-- <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Email id</label>-->
                                    <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="email" name="email" placeholder="Email Address">
                                </div>
                                <div class="col-md-6 field-button">
                                    <button type="submit" class="btn btn-warning waves-light btn-submit">Submit</button>
                                    <!-- <button type="submit" class="btn btn-warning waves-light btn-submit">Add Email Address</button> -->
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="">
                        <div class="row">
                            <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
                                <table *ngIf="emailList" datatable class="table table-hover table-responsive-md table-fixed">
                                    <thead>
                                        <tr>
                                            <th class="label-email">#</th>
                                            <th class="label-primaryaddress">Primary Email Address</th>
                                            <th class="label-action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let c of emailList; let i = index">
                                            <td class="col-email">{{i+1}}</td>
                                            <td class="col-primaryaddress">{{c.email}}</td>
                                            <td class="col-action">
                                                <span (click)="deleteEmail(c._id)" class="btn-delete" mdbRippleRadius>Remove </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>