<div class="row justify-content-md-center ">
  <div class="col-md-10  ">
    <!-- Card -->
    <div class="card row">

    <!-- Card body -->
    <div class="card-body">

          <!-- Default form subscription -->
          <form (ngSubmit)="weightageForm()">
            <!-- Default input name -->
            <p class="h4 admin-title-header "><i class="fa fa-home" aria-hidden="true"></i> - Weightage</p>
            <div class="row">
              <select class="browser-default form-control col-md-6" id="defaultFormCardDesiEx" [(ngModel)]="jdid" name="jdid" (change)="getAssess()">
                  <option value="" disabled>--Select JD--</option>
                  <option *ngFor="let j of jdList" [value]="j._id">{{ j.name }}</option>
              </select>
            </div>
            <div class="row">
              <div *ngFor="let a of assessment">
                <p>{{a | json}}</p>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-submit">Submit</button>
          </form>
          <!-- Default form subscription -->

      </div>
      <!-- Card body -->

  </div>
  <!-- Card -->
</div>
</div>
