<div class="row">
        <div class="col-xl-9 col-lg-9 col-md-10 col-sm-12">
    <!-- Card -->
    <div class="card">
    
              <!-- Card body -->
              <div class="card-body">
    
                  <!-- Default form subscription -->
                  <form (ngSubmit)="testimonialForm()" class="testimonials">
                      <p class="h4 text-center py-4 admin-title">Testimonial</p>
                      <input type="hidden" [(ngModel)]="testimonialid" name="testimonialid" />
                      <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                      <label for="defaultFormCardNameEx" class="grey-text font-weight-light control-label col-md-3">Name</label>
                      <input type="text" id="defaultFormCardNameEx" class="form-control col-md-10" [(ngModel)]="name" name="name">
                      </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            <label for="defaultFormCarddescEx" class="grey-text font-weight-light control-label col-md-3">Description</label>
                            <textarea type="text" id="defaultFormCarddescEx"  class="md-textarea md-textarea-auto form-control col-md-10" mdbInputDirective [(ngModel)]="description" rows="5" name="description"></textarea>
                      </div>
                    </div>
                    
                           <!-- <div class="form-group col-md-12 col-sm-12">
                      <div class="md-form">
                            <div class="row">
                        <textarea type="text" id="defaultFormCarddescEx" class="md-textarea md-textarea-auto form-control col-md-10" mdbInputDirective [(ngModel)]="description" name="description"></textarea>
                        <label for="defaultFormCarddescEx control-label col-md-3">Description</label>
                      </div>
                      </div>
                      </div>-->
                      <div class="row">
                            <div class="col-md-4">
                            <div class="switch">
                                <label>
                            Status <span class="label-status">OFF</span>
                            <input [(ngModel)]="status" name="status" type="checkbox">
                            <span class="lever"></span>
                             On
                        </label>
                    </div>
                </div>
                    <div  class="col-md-6 feild-button">
                      <button type="submit" class="btn btn-primary waves-light btn-submit" mdbWavesEffect>Submit</button>
                    </div></div>
                    </form>
                  <!-- Default form subscription -->
    
              </div>
              <!-- Card body -->
    
          </div>
          <!-- Card -->
        </div>
    </div>
    