<div class="form-group">
  <div class="row">
    <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="h4 text-center py-4 admin-title">Set Tolerance</p>
          <div class="row">
            <div class="col-md-6 col-sm-12 text-right">
              <label>Tolerance</label>
            </div>
            <div class="input-group col-md-6 col-sm-12 ">
              <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
      <div class="form-group">

      </div>
      <div class="card">
        <div class="card-body">
          <p class="h4 text-center py-4 admin-title">Mark Ups</p>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>External Reference</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>Internal Employee Reference</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>Managing Director/Boards Descretion</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>Special Allowance</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>CIM</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>No-CIM</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="h4 text-center py-4 admin-title">Controls</p>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 col-sm-12 text-center">
                <label>Third Party Independent Evaluation</label>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="input-group col-md-4 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
                <div class="input-group col-md-4 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
                <div class="input-group col-md-4 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>Working aquantance of the evaluator</label>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>0-5</label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>5-10</label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>10></label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="h4 text-center py-4 admin-title">Over-riders Optional</p>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3 col-sm-12 text-right">
                <label>Chairmans Reference</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
              <div class="row">
                <div class="col-md-6 col-sm-12 text-right">
                  <label>Working quantitative of the evaluator</label>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3 col-sm-12 text-right">
                    <label>0-5</label>
                  </div>
                  <div class="input-group col-md-6 col-sm-12 ">
                    <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3 col-sm-12 text-right">
                    <label>5-10</label>
                  </div>
                  <div class="input-group col-md-6 col-sm-12 ">
                    <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3 col-sm-12 text-right">
                    <label>10></label>
                  </div>
                  <div class="input-group col-md-6 col-sm-12 ">
                    <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
              </div>
  
          </div>
          <div class="form-group">
              <div class="row">
                <div class="col-md-6 col-sm-12 text-right">
                  <label>Prior Relevant Work Experience</label>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3 col-sm-12 text-right">
                    <label>0-5</label>
                  </div>
                  <div class="input-group col-md-6 col-sm-12 ">
                    <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3 col-sm-12 text-right">
                    <label>5-10</label>
                  </div>
                  <div class="input-group col-md-6 col-sm-12 ">
                    <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3 col-sm-12 text-right">
                    <label>10></label>
                  </div>
                  <div class="input-group col-md-6 col-sm-12 ">
                    <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="companyname" name="companyname">
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
        </div>
      </div>
    </div>
  </div>
</div>