p.h4.text-center.py-4.admin-title {
    color: #494949;
    font-weight: normal;
    padding-top: 15px !important;
    text-align: left !important;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 10px !important;
    background: #ffffff;
    margin-left: -20px;
    border: none;
    width: 30%;
}

.card .card-body{
    background: #f6f6f6;
    box-shadow: none;
}
.card {
    position: relative;
    padding: 25px 30px 25px 30px;
}

.form-control{
    display: inline-block;
}
.form-control.col-md-10{
    max-width: 300px;
}

label{
    font-size: 13px;
    color: #000 !important;
    background: 400 !important;
}
.input-group-append{
    display: inline-block;
}
.input-group-text {
    background: none;
    color: #14a3c7;
    border: none;
}
.controls-settings .form-control{
    width: 75%;
}
button.btn.btn-submit.btn-save {
    background: #f38e00;
    padding: 5px 25px;
    font-size: 15px;
    margin-top: 15px;
    text-transform: capitalize;
}