<form (ngSubmit)="globalsettings()">
<div class="form-group">
  <div class="row">
    <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="h4 text-center py-4 admin-title">Set Tolerance</p>
          <div class="row">
            <div class="col-md-6 col-sm-12 text-right">
              <label>Tolerance</label>
            </div>
            <div class="input-group col-md-6 col-sm-12 ">
              <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="tolerance" name="tolerance">
              <div class="input-group-append">
                <span class="input-group-text">%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
      <div class="form-group">

      </div>
      <div class="card">
        <div class="card-body">
          <p class="h4 text-center py-4 admin-title">Mark Ups</p>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>External Reference</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="externalreference" name="externalreference">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>Internal Employee Reference</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="internalemployeereference" name="internalemployeereference">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>Managing Director/Boards Descretion</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="managingdirectorsdescretion" name="managingdirectorsdescretion">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>Special Allowance</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="specialallowance" name="specialallowance">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>CIM</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="cim" name="cim">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>No-CIM</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="nocim" name="nocim">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="h4 text-center py-4 admin-title">Controls</p>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 col-sm-12 text-center">
                <label>Third Party Independent Evaluation</label>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="input-group col-md-4 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="thirdpartyevaluation1" name="thirdpartyevaluation1">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
                <div class="input-group col-md-4 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="thirdpartyevaluation2" name="thirdpartyevaluation2">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
                <div class="input-group col-md-4 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="thirdpartyevaluation3" name="thirdpartyevaluation3">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>Working aquantance of the evaluator</label>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>0-5</label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="controlsworkingaquantance05" name="controlsworkingaquantance05">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>5-10</label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="controlsworkingaquantance510" name="controlsworkingaquantance510">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>10></label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="controlsworkingaquantance10" name="controlsworkingaquantance10">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xl-9 col-lg-11 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="h4 text-center py-4 admin-title">Over-riders Optional</p>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3 col-sm-12 text-right">
                <label>Chairmans Reference</label>
              </div>
              <div class="input-group col-md-6 col-sm-12 ">
                <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="chairmansreference" name="chairmansreference">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>Working quantitative of the evaluator</label>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>0-5</label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="overworkingaquantance05" name="overworkingaquantance05">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>5-10</label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="overworkingaquantance510" name="overworkingaquantance510">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>10></label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="overworkingaquantance10" name="overworkingaquantance10">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-right">
                <label>Prior Relevant Work Experience</label>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>0-5</label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="overpriorrelevant05" name="overpriorrelevant05">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>5-10</label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="overpriorrelevant510" name="overpriorrelevant510">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3 col-sm-12 text-right">
                  <label>10></label>
                </div>
                <div class="input-group col-md-6 col-sm-12 ">
                  <input type="text" id="defaultFormCardNameEx" class="form-control" [(ngModel)]="overpriorrelevant10" name="overpriorrelevant10">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 field-button">
              <button type="submit" class="btn btn-warning waves-light btn-submit" mdbWavesEffect>Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>