<section class="container-fuild contact-section">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
    <h3 class="contact-page-title">Contact Us</h3>
    <h6 class="item-title">Our Location</h6>
    <div class="contact_address">360 EPES #20, 452 holly Lane Hopewell, VA 23860 </div>
    <h6 class="item-title">Telephone</h6>
    <div class="contact_telephone">07448 685480 </div>
    <h6 class="item-title">Email</h6>
    <div class="contact_email">info@360epes.com</div>
  </div>
  <div class="col-md-6 col-sm-12">
    <h6 class="item-title"> Get in touch with us</h6>
    <p>Fill out this contact form and we will get back to you as soon as possible.</p>
<form class="contact-form" id="contact-form" (ngSubmit)="contactusForm()">
    <input  id="name" name="name" type="text"  class="form-control" placeholder="Name" [(ngModel)]="name">
    <input 
      id="email" 
      name="field_email" 
      type="email" 
      class="form-control waves-light" 
      placeholder="Email"
      mdbPopover="Please enter the official Email Address!"
      placement="top"
      mdbPopoverHeader="Email Address"
      triggers="focus" 
      mdbWavesEffect
      [(ngModel)]="field_email"
    >
    <input 
      id="phone" 
      name="field_phone" 
      type="text"  
      class="form-control waves-light" 
      placeholder="Phone Number"
      mdbPopover="Please enter the official Phone Number!"
      placement="top"
      mdbPopoverHeader="Phone Number"
      triggers="focus" mdbWavesEffect
      [(ngModel)]="field_phone"
    >
    <textarea id="message" name="field_message" class="form-control" placeholder="Message" [(ngModel)]="field_message"></textarea>
    <div class="txt_requid">Field is required</div>
    <button type="submit" class="btn_contactsubmit">Send</button>
  </form>
</div>
</div>
</div>
</section>
