<section class="container-fuild contact-section">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
    <h3 class="contact-page-title">Contact Us</h3>
    <h6 class="item-title">Our Location</h6>
    <div class="contact_address">360 EPES #20, 452 holly Lane Hopewell, VA 23860 </div>
    <h6 class="item-title">Telephone</h6>
    <div class="contact_telephone">07448 685480 </div>
    <h6 class="item-title">Email</h6>
    <div class="contact_email">info@360epes.com</div>
  </div>
  <div class="col-md-6 col-sm-12">
    <h6 class="item-title"> Get in touch with us</h6>
    <p>Fill out this contact form and we will get back to you as soon as possible.</p>
<form class="contact-form" id="contact-form">
    <input  id="name" name="name" type="text"  class="form-control" placeholder="Name">
    <input  id="email" name="email" type="email"  class="form-control" placeholder="Email">
    <input  id="phone" name="phone" type="text"  class="form-control" placeholder="Phone Number">
    <textarea  id="comment" name="comment"   class="form-control" placeholder="Comments"></textarea>
    <div class="txt_requid">Field is required</div>
    <button type="submit" class="btn_contactsubmit">Send</button>
  </form>
</div>
</div>
</div>
</section>
