<div class="row">
        <div class="col-xl-9 col-lg-9 col-md-10 col-sm-12">
    <!-- Card -->
    <div class="card">

        <div class="card-body">
            <!-- Default form subscription -->
            <form (ngSubmit)="featureForm()" class="add-features">
                <p class="h4 text-center py-4 admin-title">Features</p>
                <input type="hidden" [(ngModel)]="featureid" name="featureid" />
                <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                <label for="defaultFormCardNameEx" class="grey-text font-weight-light control-label col-md-3">Name</label>
                <input type="text" id="defaultFormCardNameEx" class="form-control col-md-10" [(ngModel)]="name" name="name">
              </div></div>
              <div class="form-group col-md-12 ">
                    
                <label for="defaultFormCarddesc" class="grey-text font-weight-light">Description</label>
                <ckeditor [(ngModel)]="description" name="description" id="defaultFormCarddesc"></ckeditor>
                </div>
                <div class="row">
                        <div class="col-md-6">
                        <div class="switch">
                            <label>
                      Status OFF
                      <input [(ngModel)]="status" name="status" type="checkbox">
                      <span class="lever"></span>
                       ON
                    </label>
                </div>
            </div>
                <div  class="col-md-6 ">
                <button type="submit" class="btn btn-primary waves-light btn-submit" mdbWavesEffect>Submit</button>
            </div></div>
            </form>
            <!-- Default form subscription -->

        </div>
        <!-- Card body -->

    </div>
    <!-- Card -->
  </div>
</div>
