<div class="container asd">
    <div class="card">

        <!-- Card body -->
        <div class="card-body">

            <!-- Default form subscription -->
            <form (ngSubmit)="budgetmasterform()" class="add-faq">
                <p class="h4 text-center py-4 admin-title">Create Budget</p>
                <input type="hidden" [(ngModel)]="budgetId" name="budgetId" />

                <div class="form-group col-md-12 col-sm-12">
                    <div class="row">
                        <label for="defaultFormCardDesiEx" class="grey-text font-weight-light control-label col-md-3">For the Year</label>
                        <select class="browser-default form-control col-md-10" id="defaultFormCardDesiEx" [(ngModel)]="year" name="year">
                            <!-- <option value="" default disabled>--Select Year--</option> -->
                            <option *ngFor="let year of today" value="{{year.year}}">{{year.year}}</option>
                            <!-- <option value="1993">1993</option>
                            <option value="1992">1992</option> -->
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    <div class="row">
                        <label for="defaultFormCardNameEx" class="grey-text font-weight-light control-label col-md-3">Total Budget</label>
                        <input type="text" id="defaultFormCardNameEx" class="form-control col-md-10" [(ngModel)]="amount" name="amount">
                    </div>
                </div>
                <div class="col-sm-10 train-popup-btn text-right">
                    <button class="btn save-btn">Save</button>

                </div>

            </form>
            <!-- Default form subscription -->

        </div>
        <!-- Card body -->
    </div>
    <!-- Card -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 msg-box">
                <table *ngIf="budgetMasterList" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" width="10%">#</th>
                            <th scope="col" width="20%">Year</th>
                            <th scope="col" width="30%">Total Budget(USD)</th>
                            <th scope="col" width="20%">Action</th>
                            <th score="col" width="20%">Plan Budget</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of budgetMasterList;let i = index">
                            <td scope="row">{{i+1}}</td>
                            <td scope="row">{{c.year}}</td>
                            <td>{{c.amount}}</td>
                            <td>
                                <span (click)="editBudgetmaster(c)" class="btn-edit" mdbRippleRadius>Edit </span>/
                                <span (click)="deleteBudgetmaster(c._id)" class="btn-delete" mdbRippleRadius>Delete</span>
                            </td>
                            <td>
                                <span (click)="planBudgetmaster(c._id)" class="btn-edit" mdbRippleRadius>Plan Budget </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!--
<button type="button" class="btn btn-primary relative waves-light" (click)="showModal()" mdbWavesEffect>Launch demo modal</button>
-->